﻿@model DAL.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Teacher Master</h6>
            <p class="mg-b-30">Detail of Teacher Master with user detail.</p>
            @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Qualification Detail
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DisplayFor(model => model.QualificationDetail)
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Qualification Level
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DisplayFor(model => model.QualificationLevelMaster.Title)
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        DOB
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DisplayFor(model => model.DOB)
                    </div>
                </div>*@


            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    First Name
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.tblUser.FirstName)
                    @*@Model.tblUsers.SingleOrDefault().FirstName*@
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Last Name
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.tblUser.LastName)

                </div>
            </div>
            @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        UserLogo
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <img src="@Url.Content(Core.SiteSettings.UserLogoImagePath + Model.tblUser.UserLogo)" alt="Sample Image" width="100px" />
                    </div>
                </div>*@
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Email
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.tblUser.Email)

                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    ExperienceDetail
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.ExperienceDetail)
                </div>
            </div>
            @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Phone No
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.DisplayFor(model => model.tblUser.PhoneNo)
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        State
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.DisplayFor(model => model.tblUser.State.Name)
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        City
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.DisplayFor(model => model.tblUser.City.Name)
                    </div>
                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Address
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.DisplayFor(model => model.tblUser.Address)
                    </div>
                </div>*@

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Created
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Model.Created.GetValueOrDefault().ToString("dd/MM/yyyy")
                </div>
            </div>
            <br />
            <div class="row row-xs mg-t-30">
                <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                        <a href="/TeacherMaster/Edit?Id=@Model.ID" class="btn btn-secondary">Edit</a>
                        <a href="/TeacherMaster/Index" class="btn btn-secondary">Back to list</a>
                    </div><!-- form-layout-footer -->
                </div><!-- col-8 -->
            </div>
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
