﻿@model IEnumerable<DAL.Teacher>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Teacher Master</h6>
        <p class="mg-b-20 mg-sm-b-30">Teacher Master Detail</p>
        <div>
            <a href="Create" class="btn btn-default mg-r-5">Create</a>
            <div class="table-wrapper">
                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th class="wd-10p">Name</th>
                            <th class="wd-20p">Email</th>

                            <th class="wd-20p">Experience Detail</th>
                            <th class="wd-20p">Created</th>
                            <th class="wd-10p">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.tblUser.FirstName + " " + item.tblUser.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tblUser.Email)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ExperienceDetail)
                                </td>
                                <td>@item.Created.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })|
                                    @Html.ActionLink("Bind Subject", "TeacherSubject", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- card -->
