﻿@model FNSWeb.Models.GenerateTestPaperViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Test Paper Master</h6>
            <p class="mg-b-30">Detail of Test Paper Master.</p>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.QuestionLimit)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.QuestionLimit)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.TestTimeinMinuts)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.TestTimeinMinuts)
                </div>
            </div>

            @*<div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.testTypeName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.testTypeName)
                </div>
            </div>*@

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.questionLevelName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.questionLevelName)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.courseTypeName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.courseTypeName)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.courseName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.courseName)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.subjectName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.subjectName)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.topicName)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.topicName)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Created On
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Model.Created.ToString("dd/MM/yyyy")
                </div>
            </div>
            <br />
            <div class="row row-xs mg-t-30">
                <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                        <a href="/GenerateTestPaper/Edit?Id=@Model.ID" class="btn btn-secondary">Edit</a>
                        <a href="/GenerateTestPaper/Index" class="btn btn-secondary">Back to list</a>
                    </div><!-- form-layout-footer -->
                </div><!-- col-8 -->
            </div>
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
