﻿@model FNSWeb.Models.GenerateTestPaperViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Test Paper Master</h6>
            <p class="mg-b-30">Create Test Paper.</p>
            @using (Html.BeginForm("Edit", "GenerateTestPaper", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Test Type
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.TestTypeID, BLL.CommonUtility.GetTestType(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>*@

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Level
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.QuestionLevelID, BLL.CommonUtility.GetQuestionLevel(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Course Type
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.CourseTypeID, BLL.CommonUtility.GetCourseType(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Course Title
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.CourseID, BLL.CommonUtility.GetCourse(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>



                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Subject Title
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.SubjectID, BLL.CommonUtility.GetSubject(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Topic Title
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        @Html.DropDownListFor(model => model.TopicID, BLL.CommonUtility.GetTopic(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Title, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control text-box", placeholder = "Enter Title" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Description, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Description, new { @class = "text-box" })
                    </div>

                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QuestionLimit, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QuestionLimit, new { @class = "form-control text-box", placeholder = "Enter Question Limit" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QuestionLimit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.TestTimeinMinuts, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.TestTimeinMinuts, new { @class = "form-control text-box", placeholder = "Enter Test completion in Mins" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.TestTimeinMinuts, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit </button>
                            <a href="/GenerateTestPaper/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
