﻿@model IEnumerable<FNSWeb.Models.GenerateTestPaperViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Test Paper Master</h6>
    <p class="mg-b-20 mg-sm-b-30">Test Paper Master Detail</p>
    <div>
        <a href="Create" class="btn btn-default mg-r-5">Create</a>
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>

                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Title)</th>
                        
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.QuestionLimit)</th>
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.TestTimeinMinuts)</th>
                        @*<th class="wd-20p">@Html.DisplayNameFor(model => model.testTypeName)</th>*@
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.questionLevelName)</th>

                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Created)</th>
                        <th class="wd-20p">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.QuestionLimit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestTimeinMinuts)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.testTypeName)

                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.questionLevelName)
                            </td>
                            <td>
                                @item.Created.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
</div><!-- card -->

