﻿@model IEnumerable<DAL.tblStudent>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Student</h6>
        <p class="mg-b-20 mg-sm-b-30">Student Detail</p>
        <div>
            <a href="Create" class="btn btn-default mg-r-5">Create</a>
            <div class="table-wrapper">
                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th class="wd-10p">
                                Student Name
                            </th>
                            <th class="wd-10p">
                                Mother Name
                            </th>
                            <th class="wd-10p">
                                Father Name
                            </th>
                            <th class="wd-10p">
                               UserName
                            </th>
                            <th class="wd-10p">
                                Mobile No
                            </th>
                            <th class="wd-10p">
                                Date of Birth
                            </th>
                            <th class="wd-10p">
                                Email
                            </th>
                            <th class="wd-10p">
                                Gender
                            </th>
                            <th class="wd-10p">
                                StudentPic
                            </th>
                            <th class="wd-10p">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MotherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FatherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DOB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @if (item.Gender == 1)
                                    {
                                       <label>Male</label>  
                                    }
                                    else
                                    {
                                         <label>Female</label>  
                                    }
                                </td>
                                <td>
                                    @if (item.StudentPic != "" && item.StudentPic != null)
                                    {
                                        <img src="@Url.Content(Core.SiteSettings.StudentPicImagePath + item.StudentPic)" alt="@item.StudentPic" width="50px" />
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.StudentID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- card -->
    </div>
