﻿@model FNSWeb.Models.KioskMasterModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Kiosk Master</h6>
            <p class="mg-b-30">Create Kiosk Master with user detail.</p>
            @using (Html.BeginForm("Create", "KioskMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.KioskName, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.KioskName, new { @class = "form-control text-box", placeholder = "Enter KioskName" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.KioskName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.LatLong, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.LatLong, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.SCIdentity, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.SCIdentity, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.DCIdentity, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.DCIdentity, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.PaymentTransactionID, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.PaymentTransactionID, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                    </div>
                </div>
                @*<div class="row row-xs mg-t-20">
                        <div class="col-sm-4 form-control-label">
                            @Html.LabelFor(model => model.KioskRegistrationNO, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.EditorFor(model => model.KioskRegistrationNO, new { @class = "text-box" })
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.ValidationMessageFor(model => model.KioskRegistrationNO, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Address, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Address, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.FirstName, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.UserDetail.FirstName, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.LastName, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.UserDetail.LastName, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.Email, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.UserDetail.Email, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.UserLogo, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <input type="file" class="btn btn-file" id="UserLogoImageFile" name="UserLogoImageFile" required />
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @*@Html.ValidationMessageFor(model => model.UserDetail.UserLogo, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.PhoneNo, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.UserDetail.PhoneNo, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.PhoneNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.State, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <input type="hidden" id="ddlStateVal" value="" />
                        @Html.DropDownListFor(model => model.UserDetail.State, BLL.CommonUtility.GetState(), "Select State", new { @class = "form-control", @required = "required", onchange = "getCityList()" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.State, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.City, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.UserDetail.City, BLL.CommonUtility.GetCity(1), "Select City", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.UserDetail.Address, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.UserDetail.Address, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.UserDetail.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Is Active
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.EditorFor(model => model.UserDetail.IsActive, new { @class = "text-box" })

                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                    </div>
                </div>
                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit</button>
                            <a href="/KioskMaster/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
<script type="text/javascript">
    function getCityList() {
        debugger;
        var stateId = $("#UserDetail_State").val();
        $.ajax
        ({
            url: '/KioskMaster/GetCityList',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({
                stateId: +stateId
            }),
            success: function (result) {
                $("#UserDetail_City").html("");
                $("#UserDetail_City").append($('<option selected></option>').val(0).html('Select City'))
                $.each($.parseJSON(result), function (i, city) {
                    $("#UserDetail_City").append($('<option></option>').val(city.Value).html(city.Text))
                })
            },
            error: function () {
                alert("Whooaaa! Something went wrong..")
            },
        });
    }

</script>