﻿@model IEnumerable<DAL.KioskMaster>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Kiosk Master</h6>
        <p class="mg-b-20 mg-sm-b-30">Kiosk Master Detail</p>
        <div>
            <a href="Create" class="btn btn-default mg-r-5">Create</a>
            <div class="table-wrapper">
                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th class="wd-10p">Kiosk Name</th>
                            <th class="wd-20p">LatLong</th>
                            @*<th class="wd-20p">Kiosk Registration NO</th>*@
                            <th class="wd-20p">Address</th>
                            <th class="wd-20p">Active</th>
                            <th class="wd-20p">Created</th>
                            <th class="wd-10p">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KioskName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LatLong)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.KioskregistrationNO)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tblUser.IsActive)
                                </td>
                                <td>@item.Created.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div><!-- table-wrapper -->
        </div><!-- card -->
