﻿@model FNSWeb.Models.SubjectViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Subject Master</h6>
            <p class="mg-b-30">Detail of Subject Master.</p>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>

            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    @Html.DisplayNameFor(model => model.IsActive)
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.IsActive)
                </div>
            </div>


            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Created On
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Model.Created.ToString("dd/MM/yyyy")
                </div>
            </div>
            <br />
            <div class="row row-xs mg-t-30">
                <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                        <a href="/Subject/Edit?Id=@Model.ID" class="btn btn-secondary">Edit</a>
                        <a href="/Subject/Index" class="btn btn-secondary">Back to list</a>
                    </div><!-- form-layout-footer -->
                </div><!-- col-8 -->
            </div>
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
