@media (min-width: 1600px) {
	
	
}

@media (min-width:1024px) and (max-width: 1469px) {
	
	.phone {
		padding-right: 20px;
	}
	
	.subscribe-section input.text-field{
		width: 47%;
	}
	
	.subscribe-text{
		margin-right: 30px;
		width: 27%;
	}
	
	.subscribe-form{
		width: 59%;
	}
	
	.navbar .nav-item{
		white-space: nowrap;
		margin-right: 0;
	}
	
	.navbar-expand-lg .navbar-nav .nav-link{
		padding-right:1rem;
		padding-left:1rem;
	}
	.head-right {margin-top:40px;}
	.faq {
	padding-top: 80px;
	padding-bottom: 40px;
}
.accordion h5 button {
	padding: 45px 0;
	
}
	
}



@media  (min-width:992px) and (max-width: 1200px) {
	
.carousel p br{ display:none;}
.testimonial .carousel p br{ display:block;}
.carousel p {font-size: 26px;line-height: 36px;}
.testimonial .carousel p::after {
	vertical-align: middle;
}
}



@media (min-width: 992px) and (max-width:1400px) {
	
.box-left-position {
	padding: 50px 30px;
	margin-right: -60px;
	max-width: 620px;
	z-index: 8;
	position: relative;
	margin-top: 30px;
	margin-left: 0;
	min-height: auto;
}
.curv-green-left {background: url(../images/banner-left-curv.svg) no-repeat 0 0;	padding-bottom: 6px;
	background-size: 55%;}	
.brand {max-width: 580px;float: right;margin: 0 52px 22px 0;}
.section-block h3 {font-size: 38px;line-height: 48px;}
.section-block {min-height: auto;}
.curv-red-right {background-size: 51%; background-position:right 0 top 255px;}
.container{padding-left:25px !important;padding-right:25px !important;}
}
@media (min-width:768px)and (max-width:1024px) {
	
	.nav-seems-tab li a {padding: 5px 15px;}

}
	
@media (min-width: 992px)and (max-width:1024px) {


.top.full-banner{ overflow:hidden;} 	
	.brand {
	max-width: 500px;
	float: right;
	margin: 0;
}

.brand ul li {
	padding: 0 15px 15px 0;
	list-style: none;
	width: 50%;
	float: left;
}
.section-block h3 {
	font-size: 34px;
	line-height: 48px;
}
.guest-value{ width:100%;}
.tab-class {padding: 13px 17px;min-width: auto;text-align: center;font-size: 15px;width: 25%;}	
.navbar-expand-lg .navbar-nav .nav-link {font-size: 16px;}
.head-right a.btn {
	padding: 14px 22px;
	font-size: 13px;
	margin-left: 0;
}
.right-menu ul li a {
	padding: 8px 6px;
	color: #444444;
	font-size: 16px;
}
.head-right {margin-top: 3px;}
.cust-tab.nav-tabs .nav-link {
	font-size: 13px;
	padding-right: 2px;
}
#navbarSupportedContent {margin-top: 5px !important;}
.footer-link li a {font-size: 18px;}
.accordion h5 button {font-size: 28px;}

.event-type-section ul li {
	width: 49%;
}
.justify-content-center{ margin:0px !important;}
.scroll-position {right: 27px;top: 60px;}
.success-story-list .logo-container {right: 0;}
.followup {
	padding-right: 12px !important;
}
}



@media (max-width: 991px) {
	
	.justify-content-center{ margin:0px !important;}
.hidden-mobile{ display:none;}
.visible-mobile-menu{ display:block}
.hidden-mobile{ display:none;}
#mobile-menu {position: fixed;width: 100%;padding:20px 25px 20px 25px;
right: 0;z-index:9999;top: 0;height: 100% !important;background: #000;
transition-property: transform;
-ms-transform: translateX(100%);
transform: translateX(100%);
-webkit-transform: translateX(100%);
transition: all ease-in-out 0.3s;
-moz-transition: all ease-in-out 0.3s;
-webkit-transition: all ease-in-out 0.3s;}
#mobile-menu.showme {-ms-transform: translateX(0);transform: translateX(0);
-webkit-transform: translateX(0);height: 100% !important;  overflow:auto;}
body{ position:relative }
.mobile-header{padding:10px 25px 25px; z-index: 9;}
.navbar-brand{ transition:none;}


.nav-right .nav.navbar-nav {display: block; position:relative; z-index:2;}
.navbar-toggle,.navbar-toggle { transition:all ease-in-out 0.5s; position: absolute; min-width:30px; height:30px;margin-top:0; text-align:center; margin-right:0px; top:34px; right:16px; z-index:9;background:url(../images/toogle-cross.svg) no-repeat center; border-radius: 0; border:0px;outline:0px;}
.navbar-toggle-close { transition:all ease-in-out 0.5s; position: absolute; min-width:30px; height:30px;margin-top:0; text-align:center; margin-right:0px; top:34px; right:16px; z-index:9;background:url(../images/toogle-cross.svg) no-repeat center !important; cursor:pointer; border-radius: 0; outline:0px; border:0px;}

.navbar-toggle:before{ content:""; font-size:15px; color:#c1c7c3; display:inline-block; margin-right:20px; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:transparent;}
.navbar-toggle.collapsed,.navbar-toggle.bar{background:url(../images/toogle-bar.svg) no-repeat center ; cursor:pointer; outline:0px; padding:0px !important; margin:0px !important;}
.mobile-header .social li a {font-size: 24px;color: #fff;display: inline-block;
text-align: center; padding: 0 10px;
}
.mobile-header .social li a:hover{color:#181d30;}
.mobile-header .footer-bottom {padding: 15px 0; text-align:left;margin-top: 0;
border-top: 0; margin:0px;}
.mobile-header .footer-bottom ul li.first {color: #fff;}
.mobile-header .footer-bottom ul li a {color: #fff;}
.mobile-header .social {text-align: left;display:block; margin-left:-5px;}
.mobile-header .social li {display:inline-block;}
.nav.navbar-nav.mobile-nav{ margin-left:-25px; margin-right:-25px;  padding:20px 25px; }
.mobile-header .footer-bottom ul li {padding:0  5px; margin-bottom:23px; border-left-color:#fff;}


.mobile-header .footer-bottom ul li:first-child{padding-left:0;}
.mobile-header .footer-bottom ul li:nth-child(2){border-left:0px;}
.mobile-nav.navbar-nav > li > a{ font-size:24px; display:block; font-family: 'MAC-Bold'; color:#fff;position:relative; padding:8px 0px;}
.mobile-nav.navbar-nav > li > a:hover{ text-decoration:underline;}
.nav > li > a:focus, .nav > li > a:hover {text-decoration: none;background-color:transparent;}
.submenu-item{ margin:0px; padding:0px;}
.submenu-item li{line-height:28px;}
.submenu-item a{font-size:16px; color:#fff; display:block; padding:4px 0;}

.mobile-nav.navbar-nav > li.nav-btn > a {padding:13px 40px;background: #fff; display:inline-block;color: #333; font-size:18px; border-radius:0px; margin-top:20px; margin-bottom:10px; font-family: 'MAC-Bold';}
.mobile-nav.navbar-nav > li.nav-btn > a:hover{ background:#393939; color:#fff;} 
	
	.mobile-icon-sm{
		position: absolute;
		border-right: 1px solid #ccc;
		padding-right:20px;
		line-height: 30px;
		right:67px; cursor:pointer;
	top:35px; z-index:9;
	}
	
.mobile-top-icons{
	right:20px; position:absolute;
cursor: pointer;
top: 35px;
	}
	.mobile-top-icons .mobile-icon-sm,	.mobile-top-icons .navbar-toggle{ position:static; display:inline-block;}
	.mobile-top-icons .mobile-icon-sm{ margin-right:18px;}
	
	.mobile-icon-sm .phone{
		padding-right: 0; position:static;
	}
	.mobile-icon-sm .phone img{ margin:0px !important;}
	
	button.navbar-toggler{
		position: relative;
	}
	
	
	.navbar-nav > li.nav-item > a{
		font-size: 22px;
		padding: 3px 0;
	}
	
	.navbar-nav > li.nav-item > a i{
		float:right;
		font-size: 26px;
	}
	
		.navbar-toggler.collapsed{  background:url(../images/menu_bar.svg)no-repeat center; width:35px; height:35px;}
		
	button.navbar-toggler[aria-expanded="true"]{
		background:url(../images/icon_cross.svg)no-repeat center; width:35px; height:35px;
	
		z-index: 11;
		position: fixed;
		right: 31px;
		top: 38px;
	}

	
	
	
	
	
	.logo-mobile{
		display: block;
		position: absolute;
		left: 25px;
	}
	
	.navbar-collapse ul.navbar-nav{
		padding: 120px 25px 20px;
	}
	
	.navbar-custom{
		height: 80%;
		overflow: auto;
	}
	
	.navbar-header{
		width: 100%;
		padding:28px 0;
		position: absolute;
		left: 0;
		right: 0;
		height: 99px;
		background: #2eaae1;
		z-index: 1;
	}
	
	.social-icon-mobile, .navbar-footer{
		display:block !important
	}
	
	.social-icon-mobile{
		margin: 0 25px;
	}
	
	.social-icon-mobile li{
		display:inline-block
	}
	
	.navbar .social-icon-mobile li i{
		width: 30px;
		height: 30px;	
		line-height: 31px;
		color:#30a9e0;
		font-size: 16px;
		margin: 0 4px 0 0;
	}
	
	.navbar-footer{
		position: fixed;
		bottom:0;
		text-align: center;
		left: 0;
		right: 0;
		padding:20px 0;
		background:#278ebb
	}
	
	
	
	body.fixed-header{
		overflow:hidden
	}
	
	

.box-left-position {
	padding: 25px;
	margin-right: 0;
	z-index: 7;
	position: relative;
	margin-top: -30px;
	margin-left: 0;
	min-height: auto;
	padding-top: 55px; max-width:100%;
}


.btn-lg {min-width: auto;margin: 0 0 15px 0;}
.video-container {z-index: 8;}
.video-play {width:40px;height: 30px;border-radius:5px;}
.form-section label {display: block;width: 100%;}
.our-story{ text-align:center;}
.carousel-inner-space{ padding: 0 25px;}
.custom-tab-content {padding-bottom: 0 !important;}
.our-story h2{ margin-bottom:30px;}
.carousel-control-next, .carousel-control-prev {width: 49%; margin-top:8px; display:inline-block; position:static; opacity:1;}
.story-discription {padding:30px 12px !important;}
.testomonial-spacific .story-discription {
	padding: 30px 12px 0px 12px !important;
}
.nav-tabs.cust-tab  .nav-link {padding: .5rem;}
h2.white-text u {display: block;}
.carousel p {font-size: 28px;line-height: 38px;}
.carousel p br {display:none;}
.visible-mobile{ display:inline-block;}
.visible-desktop{ display:none;}
.visible-desktop-block{ display:none;}

footer {padding: 30px 25px;font-size: 16px;}

.ScrollTop {
	position: absolute;
	right: 26px;
	top: -20px;
	width: 42px;
	height: 42px;
	border: 1px solid #373737;
	border-radius: 100%; z-index:5; cursor:pointer;
	background: #1a1a1a; transition:all ease-in-out 0.5s;
}
.ScrollTop:hover{background:#0071bc;}

.ScrollTop a{ display:block; text-align:center;}
.ScrollTop img{width:15px !important; display:inline-block; margin-top:12px !important;}
.footer-logo img{ width:60px !important;}
footer .social {margin: 30px 0 0 0;}
footer .social li a {color:#fff !important;}
footer .social li a:hover{color:#00a79e !important;}
footer .social li {padding: 0 10px;}
.copyright .website-text {
	font-size: 14px;
	margin-left:15px; 
}
.copyright {
	padding-top: 55px;
}
.product-lunch  span{ display:block;}
section {overflow: hidden;}
.carousel-control-prev-icon,.carousel-control-next-icon{ background:none; width:auto !important;}
.carousel-control-prev:before{content:""; background:url(../images/icon_arrow_prev-small.png) no-repeat; width:10px; height:15px; font-family:'FontAwesome';color:#373737; vertical-align:middle; display:inline-block; margin-top:2px;}
.carousel-control-prev-icon:before{content:"Prev Story";color:#373737;margin:0 10px 2px 0; 
vertical-align:middle;display:inline-block; font-size:14px;}

.carousel-control-next:after{content:""; background:url(../images/icon_arrow_next-small.png) no-repeat; width:10px; height:15px;  display:inline-block; vertical-align:middle;margin-top:5px;}
.carousel-control-next-icon:before{content:"Next Story";display:inline-block; margin:0 10px 2px 0; 
vertical-align:middle; color:#373737; font-size:14px; }
.carousel-control-next:hover .carousel-control-next-icon:before{ text-decoration:underline;}
.carousel-control-prev:hover .carousel-control-prev-icon:before{ text-decoration:underline;}

.guest-value{ display:block; width:100%;}

.event-gallery {
	margin-bottom:14px;
}
.event-container{}
.event-container .row {
	margin-right: -7px;
	margin-left: -7px;
}
.event-container .row > [class*="col-"] {
	padding-right: 7px;
	padding-left: 7px;
}

#center-crousel{ text-align:center}
#center-crousel .cust-tab {
	border: 0px;
	text-align: center;
	display: block;
}

#center-crousel .nav-tabs .nav-item {
	margin-bottom: -1px;
	display: inline-block;
	float: none;
}
.block{ display:block !important;}
#center-crousel{ margin-top:15px;}
#center-crousel .owl-nav {position: absolute;top:-5px;width: 100%;}
#center-crousel .owl-prev{ float:left; font-size:30px; color:#fff; outline:0px !important;}
#center-crousel .owl-next{ float:right;font-size:30px; color:#fff;outline:0px !important;}
.event-container .custom-tab-content {padding:30px 0;}
.section-block{ text-align:center;}
.texture-bg {
	background-position: bottom -104px right -30%!important;
	background-size: 60% !important; 
}

.hero-banner h1 {font-size: 46px;}
.hero-banner { padding-left:25px; padding-right:25px;}
.imagin-better{ margin:0px;}
.section-with-light-text p {color: #fff;}
.section-with-light-text p br {display:none;}

.imagin-better.section-red-light { background:#d9466f url(../images/red-texture2.png)no-repeat bottom right;}
.imagin-better  {padding: 44px 25px 30px 25px;margin:0 -12px;}	
.no-space-mobile{ padding:0px !important;}
#keyblock-acordian.accordion {margin-top: 0; border-bottom:0px;}

#keyblock-acordian.accordion .card{ background:#f7f7f7; border-top:2px solid #fff;}
#keyblock-acordian .why-keyblock{ margin-bottom:0px;}
#keyblock-acordian.accordion .card-header{ background:#f7f7f7;}
#keyblock-acordian .card-body{ padding:0px 40px 40px 100px;}
#keyblock-acordian.accordion h5 button {padding:35px;padding-left:100px !important; width:100%;}

#keyblock-acordian.accordion .btn.btn-link::before {
	content: "-";
	font-size: 20px;
	font-family: 'MAC';
	position: absolute;
	right: 15px;
		top: 50%;
	transform:translatey(-50%);
	font-weight: normal;
	border: 1px solid #525252;
	color:#6a6a6a;
	border-radius: 100%;
	height: 23px;
	width: 23px;
	line-height:18px;
	text-align: center;
}
#keyblock-acordian.accordion .btn.btn-link.collapsed::before {
	content: "+";
	font-size: 20px;
	font-family: 'MAC';
	position: absolute;
	right: 15px;
	top: 50%;
	transform:translatey(-50%);
	font-weight: normal;
	border: 1px solid #525252;
	color:#6a6a6a;
	border-radius: 100%; 
	height: 23px;
	width: 23px;
	line-height:20px;
	text-align: center;
}


#keyblock-acordian.accordion .card-body p {
	font-size: 16px;
	color: #808080;
}




#keyblock-acordian.accordion h5 button {color: #070707;font-size: 26px;}
.accordion .card-body p {font-size:16px;}
.brand h3 {margin: 36px 0 20px 0;}
.btn-outline-info {padding: 13px 35px;}
.custom-tab-content h4 {font-size: 24px; margin-bottom:0px;}
.custom-tab-content p {font-size: 16px;}
.space40.our-story{padding-top:30px !important;}
.full-row.pl-4{ padding:0px !important;}
#carouselExampleControls{ margin-bottom:34px;}
.event-type-section {
	padding:80px 25px;
	margin-top:0;
	margin-bottom: 0;
}

.event-type-section h2 {font-size: 30px; line-height:normal;}
.event-type-section ul li {color: #000000; vertical-align:top; margin-bottom: 18px;width: 49%;font-size: 16px;}
.event-type-section ul li i {
	width: 20px;
	margin-right:5px;
	height: 20px;
	line-height: 20px;
	border-radius: 100%;
	background: #60c5bf;
	text-align: center;
	font-size: 12px;
	color: #fff;
}

.event-type-section p {
	margin-bottom: 50px;
}
.accordion .card-body {
	background: none;
	margin-bottom: 10px;
	padding: 0;
}
.faq > p,.accordion .card-body p {
	
	color: #717171;
}
#keyblock-acordian .why-keyblock h3 {white-space: normal;}
#keyblock-acordian .why-keyblock i {position: absolute;left: 30px;}
.testimonial h3 {font-size: 30px;}
.testimonial {padding: 80px 25px;}
.testimonial .carousel-control-prev-icon::before,.testimonial .carousel-control-next-icon::before  {
	color: #fff;}
.testimonial .carousel-control-prev-icon,.testimonial .carousel-control-next-icon {background: none;}
.testimonial .carousel-control-next::after {background: url(../images/icon-arrow-right_white.png) no-repeat;background-size: 80%;
}
.testimonial  .carousel-control-prev::before {content: "";background: url(../images/icon-arrow-left_white.png) no-repeat;
	background-size: 80%;}
.texture-left {background-position: left bottom -31%;}
.container.faq {padding: 0 25px;padding-top: 50px;}

.justify-content-center{ overflow:hidden;}
#faq.accordion {margin-top: 17px; margin-bottom:50px;}
#keyblock-acordian .why-keyblock i img {height: 50px;}
.explore-spaces{ padding:35px 25px;}
.col-split5 [class*="col-"] { margin-bottom:10px;width: 100%;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.explore-spaces h2 {margin-bottom: 18px; font-size:42px;}
.explore-spaces p {margin-bottom: 36px;font-size: 16px !important;}
.explore-spaces .btn{ margin-top:20px !important;}
.explore-spaces-block{padding:30px !important; padding-bottom:25px !important;}
#whatnearby  .explore-spaces-block{padding-bottom:5px !important;}
.explore-spaces-block .card {margin-bottom:25px;}
.explore-spaces-block .card-title {font-size: 26px;}
.explore-spaces-block .card-text {font-size: 16px;}
.hero-banner{ margin-top:20px;}
.hero-banner p br { display:none;}
.testimonial .carousel-control-next, .testimonial .carousel-control-prev {
	margin-bottom:0;
}

.spacetype-block h3 {font-size:16px; color:#002d2a; margin-top:30px;}



.space-value {
	margin: 0px auto;
	max-width: 100%;
	padding: 15px 0 5px 12px;
	text-align: left;
}
.space-value li p {font-size: 26px;font-family: 'MAC-Bold';margin-top: 10px;}
.space-value li {display: inline-block;padding: 0 15px;text-align: left;}
.space-value li span {font-size: 16px; color:#002d2a;}
.spacetype-block{ padding:0px !important; margin:0px -12px !important;}
.carousel p::before {background-position: center;}
.carousel p.aps-inline::after { display:none;}
.carousel.testomonial-spacific p {font-size:28px;line-height:38px;}
.testomonial-spacific {margin: 5px 13px 0 13px !important;}
.download-detail-content {padding: 40px 10px ;margin-bottom: 0;}
.download-detail h2 {font-size: 24px;margin: 25px; margin-bottom:15px;}
.what-include {margin: 24px;text-align: center;}
.what-include h2 {font-size:30px; margin:15px 0 ;}
.carousel p.aps-inline::before {display: block;}
h2.white-text strong {   display: block;}
.custom-selectlist .dropdown-menu {margin-top: 10px; }
.logo-container {position:static !important;}
.success-story-detail {padding:20px; padding-bottom:30px; text-align:center; }
.success-story-detail h3 {font-size: 26px; margin-bottom:20px;}
.success-story-detail p {margin-bottom:7px;}
.success-story-block h2 {font-size: 30px;}
.success-story-block h2 br {display:none}
.success-story {margin: 0;padding: 30px 25px 25px !important;}
.success-story-list .btn-default {font-size: 15px;width: auto;min-width: auto;}
.success-story-list {margin-bottom: 25px;}
.story-spacific .carousel p {font-size: 26px;line-height: 36px;}
.running-text-space {padding: 30px 13px;}
.both-side-space-mobile{ padding:0 25px !important;}
.both-side-space-mobile img{margin-bottom:15px;}
.keyblock-space {padding: 15px 12px;}
.keyblock {margin-bottom: 15px;}
.testomonial-spacific-mobile{ text-align:center;}
.testomonial-spacific-mobile.carousel p.aps-inline::before {
	display: block !important;background-position: center !important;width: 100% !important;}
.no-space-top{ padding-top:0px !important;}

.event-space-mobile{ padding:20px 0 35px!important;}
.member-detail-collapse p {font-size:16px;line-height: 26px;}

.member-detail {padding: 30px 20px;}
.member-detail h3 {font-size: 26px;}
.meet-the-team{ padding:60px 26px 35px !important;} 
.meet-the-team-section h2 {font-size:46px !important; margin-bottom:10px;}
.keyblock h3 {font-size: 30px;}
.keyblock {padding: 35px 30px;}
.location-detail-section .custom-tab-content {padding: 30px 0;}
.location-detail-section{ padding:30px 25px !important}
.location-detail-section .nav-item{display:inline-block;  width:33%; text-align:center;}
.location-detail-section .nav-item:first-child{display:inline-block;  width:33%; padding:0 15px 0 0; }
.location-detail-section .cust-tab.nav-tabs .nav-link {font-size: 13px;}
.direction-index li {margin-right: 8px;}
.direction-index li span {margin-top: 4px;font-size:15px;margin-bottom: 15px;}
.location-map {margin-top: 0;}
.bar-restaurant {padding: 30px 25px;}
.right-extra-space {padding-right: 15px !important;}
.native-menus {padding: 8px 15px !important;margin-bottom: 20px;}
.bar-restaurant::after {content: "";width: 279px;height: 132px;position: absolute;right: 0px;bottom: 0px;background-size: 100%;}
.direction-index li i {width: 50px;height: 50px;}
.direction-index li i img {height: 30px;}
.direction-index li:nth-child(2) i img {
	height: 30px;
	margin-top: 0;
}
.direction-index {margin: 0 0 30px 0;}
.location-detail-section .cust-tab.nav-tabs .nav-link span {display: inline-block;}
.success-story-detail p.thoughts{max-width:100%;}
.location-section h2 {font-size: 42px;margin-bottom: 15px;}
.nearby-discription p {margin: 30px 0;}

/*mobile space at bottom*/
#whatnearby {margin-bottom: 20px;}
.make-an-enquiry-section::after {display:none}
.form-big-element {width: 100%;}
.followup {padding: 12px 40px 30px !important;}
.make-an-enquiry-section h2{font-size: 46px; margin-bottom:15px;}
.contactus{ background:#fbfbfb;padding:25px 40px !important; }
.make-an-enquiry-section {padding: 48px 0 0 0;}
.contactus .brand { text-align:left;
	margin: 25px 0 0 0;
	padding: ;
}
.contact-person p {font-size: 18px;}
.contact-person p img {
	margin-right: 3px;
}

.followup > p, .contactus > p {margin-bottom:35px;}
.form-big-element .form-group label {margin-top: 10px;}
#student-testimonial.carousel{ padding:0 30px}
#student-testimonial.carousel p {font-size: 22px;line-height: 1;}
#what-student-says{ background:none !important;} 
#student-testimonial .carousel-indicators {
	position: static;
	
}

}



@media (min-width: 768px) and (max-width:992px) {	

.website-by {
	float: none;
	display: block;
	text-align: center;
}
.story-spacific .logo-container {position: static;}

}

@media (min-width: 768px) and (max-width:1024px) {
	
.top.full-banner{ overflow:hidden;} 
.accordion h5 button {font-size: 24px;padding:40px 0; padding-right:30px; text-align: left;white-space: normal;}

.accordion .btn.btn-link::before {
	content: "-";
	font-size:28px;
	right:0px;
	
}
.accordion .btn.btn-link.collapsed::before {content: "+";
	font-size: 28px;font-family: 'MAC';position: absolute;right:0px;}	
.section-row {margin-left: -30px !important;margin-right: -30px !important; overflow:hidden;}	
.carousel.testomonial-spacific p {font-size: 26px;line-height:36px;}
.testomonial-spacific {margin: 5px 0 0 0;}
.container.event-container .full-row.pl-4 { padding-left:0px !important;}
.container.event-container .cust-tab.nav-tabs .nav-link {font-size: 15px;}
h2 {font-size: 54px;line-height: 64px;}
.hero-banner h1 {font-size: 62px;}
.event-container .custom-tab-content {padding: 30px 0;}
footer .social {text-align: right;}
.footer-bottom-menu{ text-align:center;}
.spacetype-block {margin: -80px 0 0 0 ;}
.success-story-block h2 {font-size: 38px;}
.story-spacific {margin: 0 -12px;}
.keyblock h3 {font-size: 28px;}
.member-detail h3 {font-size:28px;}
.meet-the-team-section {padding: 24px 25px 10px 25px !important;}
.direction-index li span {margin-top: 7px;font-size: 14px;}
.direction-index li {margin-right: 4px;}
.location-detail-section .custom-tab-content {padding: 30px 0;}

.make-an-enquiry-section::after {display:none}
.contactus{ background:#fbfbfb;padding:25px 40px !important; }
.make-an-enquiry-section {padding: 48px 0 0 0;}
.form-big-element {width: 100%;}
body{ overflow-x:hidden;}

.close-popup {
    top: 0;
    right: 0;
}
.close-popup {
    top: 0;
    right:0; 
}

.close-popup .close {
    background: #000!important;
    color: #fff !important;
    border-radius: 0 !important;
    right: 0 !important;
    top: 0px !important;
}

.iframe-video {
    height:500px;

}
	.meet-the-team {
	padding: 40px 25px;
}
}


@media (max-width: 767px) {
	
	body{
		font-size: 16px;
	}
	
	h1{
		font-size: 40px;
		margin-bottom: 15px;
	}
h2 {
	font-size: 30px;
	margin-bottom: 0;
	margin-top: 0;
	line-height: normal;
}





	h3 {
		font-size: 26px;
		margin-bottom: 20px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 14px;
		line-height:20px
	}

	.space-sm-220 {
		padding: 220px 0
	}
	.space-sm-190 {
		padding: 190px 0
	}
	.space-sm-180 {
		padding: 180px 0
	}
	.space-sm-170 {
		padding: 170px 0
	}
	.space-sm-160 {
		padding: 160px 0
	}
	.space-sm-150 {
		padding: 150px 0
	}
	.space-sm-140 {
		padding: 140px 0
	}
	.space-sm-130 {
		padding: 130px 0
	}
	.space-sm-120 {
		padding: 120px 0
	}
	.space-sm-110 {
		padding: 110px 0
	}
	.space-sm-100 {
		padding: 100px 0
	}
	.space-sm-90 {
		padding: 90px 0
	}
	.space-sm-80 {
		padding: 80px 0
	}
	.space-sm-70 {
		padding: 70px 0
	}
	.space-sm-60 {
		padding: 60px 0
	}
	.space-sm-50 {
		padding: 50px 0
	}
	.space-sm-40 {
		padding: 40px 0
	}
	.space-sm-30 {
		padding: 30px 0
	}
	.space-sm-20 {
		padding: 20px 0
	}
	.space-sm-0 {
		padding: 0
	}
	
	.container {
		padding:0px; overflow:hidden;
	}
	
	.max-width-1240 {
		padding: 0 25px;
	}
	
	.banner-image  {padding:0 25px !important;}
	
	
	.banner-home .banner-intro{
		margin:0
	}
	
	.navbar .container{
		padding:0 25px;
	}

	
	.logo img{
		width:60px;
	}
	
	.header-top {padding:12px 0;}
	
	p {
		line-height: 30px;
		margin: 0 0 24px;
	}
	
	.btn-lg{
		min-width:213px;
		margin: 0 0 15px 0;
	}
	
	.row-reverse-mobile{ flex-direction: column-reverse;}
	.tab-class {
	padding: 13px 8px;
	width: 25%; min-width:auto;
	text-align: center;
	font-size: 12px;
}

.brand {
	max-width: 700px;
	float: right;
	margin: 0 25px;
	text-align: center;
}
.brand ul li {
	padding: 0 15px 15px 0;
	width: 50%;
}
.brand ul li img{height:45px;}

.section-block {padding: 54px 30px;text-align:center;min-height: auto;}
.section-red,.section-green {background-size:70%;}

.section-green {
	background-position: right 13px bottom 0px;
}


.section-block h3 {font-size: 30px;line-height: 40px;}
.section-block h3 br {display:none;}
.section-row{ margin-bottom:0px;}
.event-container{ text-align:center; padding:0 25px;}
.event-container .full-row.pl-4 { padding-left:0px !important;}
.curv-green-left {padding-top: 22px;}
.together-block{ display:block;}



.space40 {padding: 40px 0;padding-bottom: 0 !important; }

.website-by {float: left;margin-left: 0 !important;padding-left: 0px !important;
	padding-top: 15px !important;}
.accordion .btn.btn-link::before {
	content: "-";
	font-size:22px;
	right:0;
	
}

.accordion .btn.btn-link.collapsed::before {
	content: "+";
	font-size: 22px;
	font-family: 'MAC';
	position: absolute;
	right:0;
}

.accordion h5 button {
	color: #3b3b3b;
	font-size: 24px;
	font-family: 'MAC-Bold';
	display: block;
	
	padding:20px 0; padding-right:20px;
	text-align: left;
	white-space: normal;
}

.faq h2 {
	margin-bottom: 14px;
}

.together-block{ display:block;}
.testimonial .carousel p::before {
	display: block;
	background-position: center;
	width: 100%;
}

.testimonial .carousel p::after{ display:none;}
.testimonial p {margin-bottom:30px;}
.btn-lg {
	font-size: 18px;
	padding: 12px 25px;
}
#faq.accordion .card-body {
	padding-right:0;
}
.form-big-element .form-group {
	position: static;
	margin-bottom: 0;
}
.custom-control.custom-checkbox{ margin-bottom:15px;}
.close-popup {
    top: 0;
    right:0; 
}

.close-popup .close {
    background: #000!important;
    color: #fff !important;
    border-radius: 0 !important;
    right: 0 !important;
    top: 0px !important;
}

.iframe-video {
    height: 300px;

}
}

@media (min-width:420px) and (max-width: 767px) {
	
	.website-text{ margin-left:30px !important;} 
	.together-block {
	
	margin-left:-8px;
}
}

@media (max-width: 576px) {
	
.mobile-header .footer-bottom ul li:nth-child(3){border-left:0px; padding-left:0px;}
	
}

@media (max-width: 420px) {
	.event-type-section ul li span{ max-width:78%; display:inline-block; vertical-align:top;}
.copyright .together-block  a{ padding: 0 2px;
margin: 0 0px;}
}


@media (max-width: 360px) {
	.tab-class {
	padding: 13px 5px;
	
	font-size: 11px;
}
	
	.copyright {
	font-size: 13px;
}

footer {
	padding: 30px 23px;
}
.explore-spaces h2 {
	font-size: 39px;
}

	
}




@media (max-width: 330px) {
	
	.copyright {
	font-size: 12px;
}

	
}

