﻿@using BLL
@using Core

<!DOCTYPE html>


<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>AKV Classes</title>
    <!-- vendor css -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <!-- Katniss CSS -->
    <link rel="stylesheet" href="~/Content/katniss.css" rel="stylesheet" />
</head>
<body>
    <!-- ##### SIDEBAR LOGO ##### -->
    <div class="kt-sideleft-header">
        <div class="kt-logo"><a href="index">AKV Classes</a></div>
        <div id="ktDate" class="kt-date-today"></div>
        @*<div class="input-group kt-input-search">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn mg-0">
                    <button class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>*@
        <!-- input-group -->
    </div><!-- kt-sideleft-header -->
    <!-- ##### SIDEBAR MENU ##### -->
    <div class="kt-sideleft">
        @*<label class="kt-sidebar-label">Navigation</label>*@

        @if (HttpContext.Current.Session["UserMaster"] != null)
        {
            int utype = Convert.ToInt32(((UserMaster)HttpContext.Current.Session["UserMaster"]).UserTypeId);

            <ul class="nav kt-sideleft-menu">
                <li class="nav-item">
                    <a href="~/Dashboard/index" class="nav-link">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub">
                        <i class="icon ion-ios-navigate-outline"></i>
                        <span>Student Master</span>
                    </a>
                    <ul class="nav-sub">
                        <li class="nav-item"><a href="~/Student/index" class="nav-link">Student List</a></li>
                        <li class="nav-item"><a href="~/Student/create" class="nav-link">create Student</a></li>

                    </ul>
                </li><!-- nav-item -->
                @if (utype == 1)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Kiosk Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/KioskMaster/index" class="nav-link">Kiosk List</a></li>
                            <li class="nav-item"><a href="~/KioskMaster/Create" class="nav-link">Create Kiosk</a></li>

                        </ul>
                    </li><!-- nav-item -->

                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>User Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/UserMaster/index" class="nav-link">User List </a></li>
                            <li class="nav-item"><a href="~/UserMaster/Create" class="nav-link">Create User</a></li>

                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Content Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/ContentMaster/index" class="nav-link">Content List</a></li>
                            <li class="nav-item"><a href="~/ContentMaster/create" class="nav-link">Create Content</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Notification Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/NotificationMaster/index" class="nav-link">Notification List</a></li>
                            <li class="nav-item"><a href="~/NotificationMaster/create" class="nav-link">Create Notification</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Notification Type Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/NotificationType/index" class="nav-link">Notification Type List</a></li>
                            <li class="nav-item"><a href="~/NotificationType/create" class="nav-link">Create Notification Type</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Course Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/Course/index" class="nav-link">Course List</a></li>
                            <li class="nav-item"><a href="~/Course/create" class="nav-link">Create Course</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Course Type Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/CourseType/index" class="nav-link">Course Type List</a></li>
                            <li class="nav-item"><a href="~/CourseType/create" class="nav-link">Create Course Type</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Subject Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/Subject/index" class="nav-link">Subject List</a></li>
                            <li class="nav-item"><a href="~/Subject/create" class="nav-link">Create Subject</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Topic Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/Topic/index" class="nav-link">Topic List</a></li>
                            <li class="nav-item"><a href="~/Topic/create" class="nav-link">Create Topic</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Question Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/QuestionMaster/index" class="nav-link">Question List</a></li>
                            <li class="nav-item"><a href="~/QuestionMaster/create" class="nav-link">Create Question</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Test Type Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/TestType/index" class="nav-link">Test Type List</a></li>
                            <li class="nav-item"><a href="~/TestType/create" class="nav-link">Create Test Type</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Test Paper Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/GenerateTestPaper/index" class="nav-link">Test Paper List</a></li>
                            <li class="nav-item"><a href="~/GenerateTestPaper/create" class="nav-link">Create Test Paper</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Teacher Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/TeacherMaster/index" class="nav-link">Teacher List</a></li>
                            <li class="nav-item"><a href="~/TeacherMaster/create" class="nav-link">Create Teacher</a></li>
                        </ul>
                    </li><!-- nav-item -->
                    <li class="nav-item">
                        <a href="#" class="nav-link with-sub">
                            <i class="icon ion-ios-navigate-outline"></i>
                            <span>Batch Detail Master</span>
                        </a>
                        <ul class="nav-sub">
                            <li class="nav-item"><a href="~/BatchDetail/index" class="nav-link">Batch Detail List</a></li>
                            <li class="nav-item"><a href="~/BatchDetail/create" class="nav-link">Create Batch Detail</a></li>
                        </ul>
                    </li><!-- nav-item -->
                }
            </ul>
        }
    </div><!-- kt-sideleft -->
    <!-- ##### HEAD PANEL ##### -->
    <div class="kt-headpanel">
        <div class="kt-headpanel-left">
            <a id="naviconMenu" href="#" class="kt-navicon d-none d-lg-flex"><i class="icon ion-navicon-round"></i></a>
            <a id="naviconMenuMobile" href="#" class="kt-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
        </div><!-- kt-headpanel-left -->
        <div class="kt-headpanel-right">
            @*<div class="dropdown dropdown-notification">
                    <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
                        <i class="icon ion-ios-bell-outline tx-24"></i>
                        <!-- start: if statement -->
                        <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
                        <!-- end: if statement -->
                    </a>
                    <div class="dropdown-menu wd-300 pd-0-force">
                        <div class="dropdown-menu-header">
                            <label>Notifications</label>
                            <a href="#">Mark All as Read</a>
                        </div><!-- d-flex -->
                        <div class="media-list">
                            <!-- loop starts here -->
                            <a href="#" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="~/Content/img/img8.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0"><strong class="tx-medium">Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                                        <span class="tx-12">October 03, 2017 8:45am</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <!-- loop ends here -->
                            <a href="#" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="~/Content/img/img9.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0"><strong class="tx-medium">Mellisa Brown</strong> appreciated your work <strong class="tx-medium">The Social Network</strong></p>
                                        <span class="tx-12">October 02, 2017 12:44am</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <a href="#" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="~/Content/img/img10.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0">20+ new items added are for sale in your <strong class="tx-medium">Sale Group</strong></p>
                                        <span class="tx-12">October 01, 2017 10:20pm</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <a href="#" class="media-list-link read">
                                <div class="media pd-x-20 pd-y-15">
                                    <img src="~/Content/img/img5.jpg" class="wd-40 rounded-circle" alt="">
                                    <div class="media-body">
                                        <p class="tx-13 mg-b-0"><strong class="tx-medium">Julius Erving</strong> wants to connect with you on your conversation with <strong class="tx-medium">Ronnie Mara</strong></p>
                                        <span class="tx-12">October 01, 2017 6:08pm</span>
                                    </div>
                                </div><!-- media -->
                            </a>
                            <div class="media-list-footer">
                                <a href="#" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
                            </div>
                        </div><!-- media-list -->
                    </div>

                <!-- dropdown-menu -->
                </div><!-- dropdown -->*@
            @if (HttpContext.Current.Session["UserMaster"] != null)
            {
                string strUserName = ((UserMaster)HttpContext.Current.Session["UserMaster"]).FirstName + " " + ((UserMaster)HttpContext.Current.Session["UserMaster"]).LastName;
                int id = ((UserMaster)HttpContext.Current.Session["UserMaster"]).ID;
                string userLogo = SiteSettings.UserLogoImagePath.Replace("~", "") + Convert.ToString(((UserMaster)HttpContext.Current.Session["UserMaster"]).UserLogo);

                string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
                userLogo = baseUrl + userLogo;

                <div class="dropdown dropdown-profile">
                    <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">



                        <img src="@userLogo" class="wd-32 rounded-circle" alt="No Img">

                        <span class="logged-name">
                            <span class="hidden-xs-down">

                                @strUserName

                            </span> <i class="fa fa-angle-down mg-l-3"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu wd-200">
                        <ul class="list-unstyled user-profile-nav">
                            <li><a href="~/UserMaster/Details/@id"><i class="icon ion-ios-person-outline"></i> Edit Profile</a></li>
                            @*<li><a href="#"><i class="icon ion-ios-gear-outline"></i> Settings</a></li>
                                <li><a href="#"><i class="icon ion-ios-download-outline"></i> Downloads</a></li>
                                <li><a href="#"><i class="icon ion-ios-star-outline"></i> Favorites</a></li>
                                <li><a href="#"><i class="icon ion-ios-folder-outline"></i> Collections</a></li>*@
                            <li><a href="~/Account/Login"><i class="icon ion-power"></i> Sign Out</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->


                </div><!-- dropdown -->
            }
        </div><!-- kt-headpanel-right -->
    </div><!-- kt-headpanel -->
    @if (HttpContext.Current.Session["UserMaster"] != null)
    {

        string controller = Request.Url.Segments[1].Replace("/", "");
        string action = Request.Url.Segments[2];
        <div class="kt-breadcrumb">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="index">@controller</a>
                <span class="breadcrumb-item active">@action</span>
            </nav>
        </div>
    }
    <!-- kt-breadcrumb -->
    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
        <div class="kt-pagetitle">
            <h5>Blank</h5>
        </div><!-- kt-pagetitle -->
        <div class="kt-pagebody">
            @RenderBody()
            <!-- your content goes here -->
        </div><!-- kt-pagebody -->
    </div><!-- kt-mainpanel -->
    <script src="~/Content/lib/jquery/jquery.js"></script>
    <script src="~/Content/lib/popper.js/popper.js"></script>
    <script src="~/Content/lib/bootstrap/bootstrap.js"></script>
    <script src="~/Content/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Content/lib/moment/moment.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/katniss.js"></script>
</body>

</html>
