﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div> there will be show daily registered students and deposited fees and most reviewed content and charts for activities.
    </div>
</body>
</html>
