﻿@model DAL.ContentMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Content Master</h6>
            <p class="mg-b-30">Detail of Content Master.</p>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Course
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Course.CourseName)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Subject
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Subject.Name)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Topic
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Topic.Name)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Title
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Description
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    View Files
                </div>
                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                    @if (Model.FileName != null && Model.FileName != "")
                    {
                        string[] files = Model.FileName.Split('|');
                        foreach (string file in files)
                        {
                            if (file != "")
                            {
                                string FileName = file.Replace(Convert.ToString(Model.ID) + "_", "");
                                FileName = FileName.Substring(8);
                                string FileExtension = Path.GetExtension(FileName);
                                if (FileExtension.ToLower() == ".pdf")
                                {
                                    <div style="float: left; padding: 0px 8px 0px 8px;">
                                        <div style="margin-left:25px;">
                                            <i class="fa fa-file-pdf-o" style="font-size:48px;color:red" title="@FileName"></i>
                                        </div>
                                        <div style="align-content:center;">
                                            <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=1">Delete</a> |
                                            <a href="#" onclick="GetClientReport('@file')">View</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="float: left; padding: 0px 8px 0px 8px;">
                                        @if (FileExtension.ToLower() == ".doc" || FileExtension.ToLower() == ".docx")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-word-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        @if (FileExtension.ToLower() == ".txt")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-text" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        @if (FileExtension.ToLower() == ".mp4")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-video-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        @if (FileExtension.ToLower() == ".png" || FileExtension.ToLower() == ".jpg")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-image-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        @if (FileExtension.ToLower() == ".xls" || FileExtension.ToLower() == ".xlsx")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-excel-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        @if (FileExtension.ToLower() == ".pptx")
                                        {
                                            <div style="margin-left:35px;">
                                                <i class="fa fa-file-powerpoint-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                        }
                                        <div style="align-content:center;">
                                            <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=1">Delete</a> |
                                            <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=2">Download</a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
            @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Content Type
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DisplayFor(model => model.ContentTypeMaster.Title)
                    </div>
                </div>*@
            @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Sequence No
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DisplayFor(model => model.SequenceNo)
                    </div>
                </div>*@
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    IsActive
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.IsActive)
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Created
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Model.Created.GetValueOrDefault().ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="row row-xs mg-t-20">
                <div class="col-sm-4 form-control-label">
                    Teacher
                </div>
                <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                    @Html.DisplayFor(model => model.Teacher.tblUser.FirstName) @Html.DisplayFor(model => model.Teacher.tblUser.LastName)
                </div>
            </div>
            <br />
            <div class="row row-xs mg-t-30">
                <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                        <a href="/ContentMaster/Edit?Id=@Model.ID" class="btn btn-secondary">Edit</a>
                        <a href="/ContentMaster/Index" class="btn btn-secondary">Back to list</a>
                    </div><!-- form-layout-footer -->
                </div><!-- col-8 -->
            </div>
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
<script>
    function GetClientReport(fileName) {
        window.open("/ContentMaster/GetReport?file=" + fileName, "_blank");
    };
</script>