﻿@model FNSWeb.Models.ContentMasterViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Content Master</h6>
            <p class="mg-b-30">Edit Content Master.</p>
            @using (Html.BeginForm("Edit", "ContentMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.CourseID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.CourseID, BLL.CommonUtility.GetCourse(), "Select Course", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.SubjectID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.SubjectID, BLL.CommonUtility.GetSubject(), "Select Subject", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.TopicID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.TopicID, BLL.CommonUtility.GetTopic(), "Select Topic", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.TopicID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Title, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control text-box", placeholder = "Enter Title" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Description, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Description, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        View Files
                    </div>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        @if (Model.FileName != null && Model.FileName != "")
                        {
                            string[] files = Model.FileName.Split('|');
                            foreach (string file in files)
                            {
                                if (file != "")
                                {
                                    string FileName = file.Replace(Convert.ToString(Model.ID) + "_", "");
                                    FileName = FileName.Substring(8);
                                    string FileExtension = Path.GetExtension(FileName);
                                    if (FileExtension.ToLower() == ".pdf")
                                    {
                                        <div style="float: left; padding: 0px 8px 0px 8px;">
                                            <div style="margin-left:25px;">
                                                <i class="fa fa-file-pdf-o" style="font-size:48px;color:red" title="@FileName"></i>
                                            </div>
                                            <div style="align-content:center;">
                                                <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=1">Delete</a> |
                                                <a href="#" onclick="GetClientReport('@file')">View</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="float: left; padding: 0px 8px 0px 8px;">
                                            @if (FileExtension.ToLower() == ".doc" || FileExtension.ToLower() == ".docx")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-word-o" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            @if (FileExtension.ToLower() == ".txt")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-text" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            @if (FileExtension.ToLower() == ".mp4")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-video-o" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            @if (FileExtension.ToLower() == ".png" || FileExtension.ToLower() == ".jpg")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-image-o" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            @if (FileExtension.ToLower() == ".xls" || FileExtension.ToLower() == ".xlsx")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-excel-o" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            @if (FileExtension.ToLower() == ".pptx")
                                            {
                                                <div style="margin-left:35px;">
                                                    <i class="fa fa-file-powerpoint-o" style="font-size:48px;color:red" title="@FileName"></i>
                                                </div>
                                            }
                                            <div style="align-content:center;">
                                                <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=1">Delete</a> |
                                                <a href="/ContentMaster/DeleteFile?id=@Model.ID&FileName=@file&Type=2">Download</a>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }

                    </div>

                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.FileName, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <input type="file" class="btn btn-file" id="ContentDocument" name="ContentDocument" multiple  />
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                    </div>
                </div>
                @*<div class="row row-xs mg-t-20">
                        <div class="col-sm-4 form-control-label">
                            @Html.LabelFor(model => model.ContentTypeMasterID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.DropDownListFor(model => model.ContentTypeMasterID, BLL.CommonUtility.GetContentType(), "Select Content Type", new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.ValidationMessageFor(model => model.ContentTypeMasterID, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                @*<div class="row row-xs mg-t-20">
                        <div class="col-sm-4 form-control-label">
                            @Html.LabelFor(model => model.SequenceNo, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.EditorFor(model => model.SequenceNo, new { @class = "form-control text-box", placeholder = "Enter SequenceNo" })
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @Html.ValidationMessageFor(model => model.SequenceNo, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.TeacherId, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.TeacherId, BLL.CommonUtility.GetTeacher(), "Select Teacher", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit</button>
                            <a href="/ContentMaster/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
<script>
    function GetClientReport(fileName) {
        window.open("/ContentMaster/GetReport?file=" + fileName, "_blank");
    };
</script>