﻿@model IEnumerable<DAL.ContentMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Content Master</h6>
    <p class="mg-b-20 mg-sm-b-30">Content Master Detail</p>
    <div>
        <a href="Create" class="btn btn-default mg-r-5">Create</a>
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-10p">
                            Course
                        </th>
                        <th class="wd-10p">
                            Subject
                        </th>
                        <th class="wd-10p">
                            Topic
                        </th>
                        <th class="wd-10p">
                            Teacher
                        </th>
                        <th class="wd-20p">
                            Title
                        </th>
                        @*<th class="wd-10p">
                            Content Type
                        </th>*@
                        @*<th class="wd-10p">
                            Sequence No
                        </th>*@
                        <th class="wd-10p">
                            IsActive
                        </th>
                        <th class="wd-10p">
                            Created
                        </th>
                        <th class="wd-20p">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Topic.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.ContentTypeMaster.Title)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.SequenceNo)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @item.Created.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div><!-- card -->
</div>
