﻿@model FNSWeb.Models.BatchDetailViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Batch Detail Master</h6>
            <p class="mg-b-30">Edit Batch Detail Master.</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
               <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Course Title
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        @Html.DropDownListFor(model => model.CourseID, BLL.CommonUtility.GetCourse(), "--Select--", new { @class = "form-control" })
                    </div>

                </div>



                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Title, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control text-box", placeholder = "Enter Title" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Start Date<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.StartDate, new { @class = "form-control text-box" })
                       
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        End Date<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.EndDate, new { @class = "form-control text-box" })
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Batch Time<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.TimeFromHH, BLL.CommonUtility.GetTimeFromHH(), "--Select Hour--", new { @class = "form-control" })
                        @Html.DropDownListFor(model => model.TimeFromMM, BLL.CommonUtility.GetTimeFromMM(), "--Select Minuts--", new { @class = "form-control" })
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                       
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.IsStarted, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.IsStarted, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                    </div>
                </div>

                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.IsClosed, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.IsClosed, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                    </div>
                </div>

                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit</button>
                            <a href="/BatchDetail/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j(function () {

        

        $j("#StartDate, #EndDate").datepicker();
            
    });
</script>