a, .btn, :hover, a:hover, a:focus {
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	text-decoration: none;
	outline: none
}
body {font-family: 'MAC';font-size: 18px;color: #2e2e2e;}
a {color: #0071bc}
a:focus, a:hover {color: #0071bc}
b, strong {font-family: 'MAC-Bold';font-weight: normal;}

/*globaluse*/

ul{margin: 0;padding: 0}
.full-row:after, .full-row:before {content: "";display: table;}
.full-row:after {	clear: both}
.title-margin {margin-top: 55px;}
img {max-width: 100%;}

.btn-group-lg > .btn, .btn-lg{/*line-height: 1.4em;height: 50px;*/}

.btn{font-family: 'MAC';border-radius:0;-moz-border-radius:0;
	-webkit-border-radius:0;}
.btn-sm{font-size: 16px;padding: 11px 20px 10px;}
.btn-lg {font-size: 18px;padding: 15px 35px;}
.btn-white{background:#fff;color:#30a9e0;}
.btn-info {color: #fff;background: #0071bc;border:none}
.btn-info:hover, .btn-info:focus {background: #09588c;border:none;
	color:#fff;box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0;-webkit-box-shadow: 0 0 0 0;}
.btn-primary {	color: #fff !important;background: #d35400;border:none}
.btn-primary:hover, .btn-primary:focus {background: #a24202;border:none;color:#fff;
	box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0;-webkit-box-shadow: 0 0 0 0;}
	
	.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #09588c;
	border-color: #09588c;
}
	
	
.btn-white {color: #00a79e;background: #fff;border:none}
.btn-white:hover, .btn-white:focus {background: #00423d;border:none;color:#fff;box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;-webkit-box-shadow: 0 0 0 0;}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn.dropdown-toggle:focus{box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;}
.btn-outline-info{border:2px solid #fff;color:#fff;padding: 12px 35px;}
.btn-outline-info:hover, .btn-outline-info:focus{background: #fff;border:2px solid #fff;
	color:#000;box-shadow: 0 0 0 0;-moz-box-shadow: 0 0 0 0;-webkit-box-shadow: 0 0 0 0;}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	font-family: 'MAC-Bold';color: #123040;}
h1{font-size: 48px;margin-bottom: 25px;}
h2 {font-size: 38px;margin-bottom:30px;margin-top: 0;}
h3 {font-size: 28px;margin-bottom: 20px;}
h4 {font-size: 18px;margin-bottom: 20px;}
h5 {font-size: 14px;}
h6 {font-size: 10px;line-height:24px}
.marg-level-one {margin-top: 124px}
.marg-level-two {margin-top: 70px}
.marg-level-three {margin-top: 50px}
.margt50 {margin-top: 50px;}
.nopadding {padding: 0}
.container-inn {max-width: 830px;margin: auto}
.full-img img {width: 100%}
.clearfix {clear: both}
p {line-height: 30px;margin: 0 0 30px;}
.space220 {padding: 220px 0}
.space190 {padding: 190px 0}
.space180 {padding: 180px 0}
.space170 {padding: 170px 0}
.space160 {padding: 160px 0}
.space150 {padding: 150px 0}
.space145 {padding: 145px 0}
.space140 {padding: 140px 0}
.space130 {padding: 130px 0}
.space120 {padding: 120px 0}
.space110 {padding: 110px 0}
.space100 {padding: 100px 0}
.space90 {padding: 90px 0}
.space80 {padding: 80px 0}
.space70 {padding: 70px 0}
.space60 {padding: 60px 0}
.space50 {padding: 50px 0}
.space40 {padding: 40px 0}
.space30 {padding: 30px 0}
.space20 {padding: 20px 0}

.margt90 {
	margin-top: 90px;
}
.margt80 {
	margin-top: 80px;
}
.margt70 {
	margin-top: 70px;
}
.margt60 {
	margin-top: 60px;
}
.margt50 {
	margin-top: 50px;
}
.margt40 {
	margin-top: 40px;
}
.margt30 {
	margin-top: 30px;
}
.margt20 {
	margin-top: 20px;
}
.margt120 {
	margin-top: 120px;
}
.top-row-image {
	margin: 22px 0;
}
.nopadding {
	padding: 0
}
.padding-t0 {
	padding-top: 0 !important
}
.section-gray {
	background-color: #4d4d4d;
}
.section-gray-light {
	background-color: #f6f6f6;
}
.section-white {
	background-color: #fff;
}
.section-black {
	background-color: #000;
}
.section-green {
	background-color: #00a79e;
}

.section-green-color{
	background-color: #00a79e;
}
.section-green-dark {
	background-color:#002d2a;
}
.bg-green {
	background-color: #00a79e;
}
.section-forest {
	background-color:#0071bc;
}
.section-magenta {
	background-color: #872650;
}
.section-pink-light {
	background-color: #f7d9e2;
}
.section-plum{
	background-color: #4a0b29;
}

.gray-text {
	color: #7b7b7b !important;
}
.white-text {
	color: #fff !important;
}
.black-text {
	color: #000 !important;
}
.dark-bg{
	background: #0d3240 !important;
}

.section-black-before:before{
	background: #000;
	content: "";
    height: 640px;
    position: absolute;
    top: -1px;
    width: 100%;
	z-index: -1;
}

.intro-text{
	font-size: 18px;
	line-height: 24px;

}

.column-5 .full-img{
	width: 20%
}

.small-text{
	font-size:14px
}

.big-text{
	font-size:24px
}

.address{
	line-height: 25px;
}

.box-shadow:hover{
	box-shadow: 0 4px 12px rgba(0,0,0,.25);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.25);
	border: none !important;
}

.animation-scale{
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	position:relative;
}

.animation-scale:hover{
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}

.border{
	border:none !important;
	box-shadow: 0px 0px 1px #888;
	-moz-box-shadow: 0px 0px 1px #888;
	-webkit-box-shadow: 0px 0px 1px #888;
}

body .border-radius-10{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

body .border-radius-8{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.row{
	margin-right: -12px;
	margin-left: -12px;
}

.row>[class*=col-]{
	padding-right: 12px;
	padding-left: 12px;
}


/*globaluse end*/

/*========== rejection css for IE-9 =======*/

#jr_overlay {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 2147483646;
	position: absolute;
	text-align: center
}

#jr_wrap {
	position: absolute;
	width: 100%;
	z-index: 2147483647;
	padding: 0;
	margin: 0;
}

#jr_inner {
	font-size: 12px;
	background: #FFF;
	border: 1px solid #CCC;
	color: #4F4F4F;
	margin: 0 auto;
	height: auto;
	padding: 20px;
	position: relative;
	box-sizing: content-box;
}

#jr_header {
	display: block;
	color: #333;
	padding: 5px;
	padding-bottom: 0;
	margin: 0;
	font-family:arial;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

#jr_inner p {
	padding: 5px;
	margin: 0;
}

#jr_inner ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#jr_inner ul li {
	cursor: pointer;
	float: left;
	width: 120px;
	height: 122px;
	margin: 0 10px 10px 10px;
	padding: 0;
	text-align: center;
}

#jr_inner li a {
	color: #333;
	font-size: 0.8em;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#jr_inner li a:hover {
	text-decoration: underline;
}

#jr_inner .jr_icon {
	width: 100px;
	height: 100px;
	margin: 1px auto;
	padding: 0;
	background: transparent no-repeat scroll left top;
	cursor: pointer;
}

#jr_close {
	clear: both;
	padding: 0;
	margin: 0;
}

#jr_close a {
	color: #000;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#jr_close p {
	padding: 10px 0 0 0;
	margin: 0;
}

/*==========end rejection css for IE-9 =======*/

/*========= header section ==========*/

.wrapper{
	max-width:1600px;
	width:100%;
	margin:auto;
}

.header-top{
	padding:25px 0;
	background:#fff;
	font-family: 'MAC';
	font-size:18px	
}


.bg-overlay:before {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.banner-inner{
	height:394px;
	color:#fff;
}

.banner-inner p{
	color:#fff;
}

section {
	width: 100%;
	position: relative;
	top: 0;
}

.logo{
	margin-right: 50px; transition:all ease-in-out 0.5s;
}
.logo img{
	transition:all ease-in-out 0.5s;
}
.logo:hover img{filter:opacity(80%);
}

.section-heading{
	text-transform: uppercase;
	color:#000;
	font-size: 12px;
    font-weight: 700;
	position: relative;
	margin-bottom: 26px;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 10px 30px;
	font-size:22px;
	color:#000;
	font-family: 'MAC-Bold';
}
.navbar-expand-lg .navbar-nav .nav-link span{ border-bottom:3px solid transparent}
.navbar-expand-lg .navbar-nav .nav-link:hover span{ border-bottom:3px solid #000}

#navbarSupportedContent {
	margin-top: 40px;
}

/*========end header section ==========*/

/*========== mega menu =========*/

/* adds some margin below the link sets  */


.navbar-nav{
	
}

.nav-link:hover, .nav-link:focus{
	color: #123040;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#fff!important;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;  
  -moz-box-shadow: 0px 7px 6px -7px rgba(50, 50, 50, 0.1);
  -webkit-box-shadow: 0px 7px 6px -7px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 7px 6px -7px rgba(50, 50, 50, 0.1);
}

.dropdown-menu .col-one span {
    font-size: 18px;
    margin-bottom: 4px;
    display: block;
}

.container {
	max-width: 1470px;
	position: relative;
}

.max-width-1240{
	max-width: 1240px;
	margin: auto;
	padding-left:15px;
	padding-right:15px;
}

.max-width-575{
	max-width: 575px;
}

.max-width-900{
	max-width: 900px;
	margin:auto;
	padding-left:15px;
	padding-right:15px;
}

.max-width-980{
	max-width: 980px;
	margin:auto;
	padding-left:15px;
	padding-right:15px;
}

.max-width-720{
	max-width: 720px;
	margin:auto;
	padding-left:15px;
	padding-right:15px;
}

.dropdown-menu{
	color: #123040;
}

.dropdown-menu .dropdown-menu-column{
	padding: 60px 20px 30px;
}

.dropdown-menu ul li.nav-item{
	padding:0;
	margin:0
}

.dropdown-menu ul li.nav-item a.nav-link{
	font-family: 'MAC';
	padding: 1px 0;
	display: inline-block;
	margin: 1px 0;
	border-bottom: 1px solid #fff;
	line-height: 1.45em;
}

.dropdown-menu ul li.nav-item a.nav-link:hover{
	border-bottom: 1px solid #123040;
	color:#123040
}

.navbar-nav > li.nav-item  > a i{
	font-size:20px;
	margin-left:10px
}

.navbar-nav > li.nav-item  > a span{
	position:relative
}

.logo-mobile{
	display:none
}

.right-menu ul  li{
	list-style:none;
	display:inline-block
}

.right-menu ul  li a{
	display:inline;
	padding: 10px 15px;
	color:#444444;
	font-size: 16px;
}

.right-menu ul  li a span{ border-bottom:2px solid transparent}
.right-menu ul  li a:hover span{ border-bottom:2px solid #444444}



.phone{
	position: absolute;
	right: 15px;
	top: -6px;
	font-size: 16px;
	color: #808080;
}
.phone img{ height:20px;}


/*============= footer-section ===========*/

footer {
	background: #000;
	color: #fff;
	padding: 45px 0;
	position: relative;
	font-size: 16px;
}

footer .container {
	position: relative;
}


footer h3 {
	font-size: 16px;
	margin: 5px 0 20px;
	color: #fff;
}

footer a {
	color: #d9d9d9;
}



.footer-link li {
	padding: 5px 0;
	display: block;
	list-style: none;
}
.footer-link li a {
	color: #d9d9d9;
	font-size:14px;
}
.footer-link li a:hover {
	text-decoration:underline;
}
.social {
	margin:58px 0 0 0;
    padding: 0px;
}
.social li {
	display: block;
	padding: 0 0 10px 0;
	font-size:13px
}
.social li a span i{
	font-size: 16px;
	color: #414141;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 31px;
	text-align: center;
	background:#fff;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	margin-right: 10px;
}
.social li a:hover span i {
	background:#2eaae0;
	color:#fff;
}

.copyright {
	font-size: 14px;
	color: #d9d9d9;
	padding-top: 65px;
	line-height: 24px;
}

.copyright a{
	color: #d9d9d9;
	padding: 0 5px;
	margin: 0 5px;
}

.copyright a:hover{
	text-decoration:underline;
}
.footer-bottom ul {
	margin: 0px;
	padding: 0px;
}
.footer-bottom ul li.first {
	padding-left: 0px;
	border: 0px;
}
.footer-bottom ul li {
	display: inline-block;
	font-size: 14px;
	color: #979797;
	padding: 0 7px;
	line-height: 1;
	border-left: 1px solid #f4f4f7;
}
.footer-bottom ul li a {
	display: inline-block;
	color: #979797;
}

footer .social li{
	padding: 0 15px;
	line-height: 32px;
	display: inline-block;
}

footer .social li a span:first-child {
	float:left;
}

.copyright .website-text{
	font-size: 16px;
	margin-left: 30px;
}

/*===========end footer-section ===========*/



label span.checkmark{
	margin:0;
	position: absolute;
	top: 2px;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #ffffff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label span.checkmark:after {
	border-color: #2eaae1;
	-webkit-transform: scale(1) rotate(45deg);
	-ms-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
	border-bottom: 2px solid #2eaae1;
	border-right: 2px solid #2eaae1;
	content: "";
	height: 10px;
	right: 3px;
	position: absolute;
	top: 0;
	-webkit-transition: all .4s cubic-bezier(.2,1,.2,1);
	-o-transition: all .4s cubic-bezier(.2,1,.2,1);
	transition: all .4s cubic-bezier(.2,1,.2,1);
	width: 6px;
	z-index: 2;
	display:none
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
	display: block;
}




.head-right{
	text-align:right;
	margin-top: 40px;
}

.head-right a.btn{
	padding: 16px 42px;
	font-size: 18px; margin-left:13px;
}

/*========= home page =========*/

.box-left-position {
    padding: 50px 70px;
	margin-right: -60px;
	max-width: 620px;
	z-index:8;
	position: relative;
	margin-top: 30px;
	min-height: 610px;
}

.box-sub-text{
	color:rgba(255,255,255,0.3);
	font-size: 16px;
}

.form-section label{
	font-size:14px;
}

.form-row{
	margin: 0 0 25px 0;
}

.form-section select{
	padding: 13px;
	height: auto !important;
}
.guest-value{ width:100%;}

.tab-class{
	border-right: 1px solid #dbdbdb;
	background: #fff;
	padding: 13px 20px;
	float: left;
	min-width: 25%;
	text-align: center;
	font-size: 16px;
	color: #3b3b3b;
}


.tab-class:hover{
	background:#c6c6c6 !important;
	color:#fff;
}

.tab-class.active,.tab-class.active:hover{
	background: #65cac4 !important;
	color:#fff;
}

.tab-class.active {
	border-right: 1px solid #65cac4;
}
 


.product-launch{
	font-size:16px;
}

.texture-bg{
	background-image:url(../images/green-texture.png);
	background-repeat:no-repeat;
	background-position: 107% 240%;
}


/*=======end blockquote block ===========*/



/*========== form section ===========*/

.form-boxes{
	padding: 35px 25px 25px;
}

.form-boxes:hover{
	/*box-shadow: 0 4px 12px rgba(0,0,0,.25);
	-moz-box-shadow: 0 4px 12px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.25);*/
}

.border-top-blue{
	border-top: 8px solid #2eaae1;
	background-image:url(../images/border-shadow.jpg);
	background-repeat:repeat-x;
	background-position:center top;
}

.border-top-gray{
	border-top: 8px solid #cccccc;
	background-image:url(../images/border-shadow.jpg);
	background-repeat:repeat-x;
	background-position:center top;
}

.border-top-white{
	border-top: 8px solid #fff
}

.form-company-logo .brand-logo{
	width: 16%;
	margin: 10px 0;
}

.contact-details{
	color: #123040;
	padding-left: 2px
}

.contact-details li{
	list-style:none;
	padding: 5px 0;
}

.contact-details li .contact-icon{
	padding-right: 20px;
	width: 42px;
	display: inline-block;
	text-align: center;
}

.contact-details li .contact-des{
	display: inline-block;
	vertical-align: top;
}

.contact-details .small-text{
	font-size: 14px;
	margin: 3px 8px;
	color:#808080
}

.form-boxes h3{
	margin-bottom: 30px;
}

form input.form-control, form select.form-control{
	border: 1px solid #cccccc;
	padding: 13px;
	height:auto !important;
	font-family: 'MAC';
	color:#123040;
	font-size: 17px;
}

form select.form-control{
	padding: 13px 50px 13px 10px;
	color: #9e9e9e;
}

form .form-group textarea{
	padding: 13px;
	border: 1px solid #cccccc;
	width:100%;
	font-family: 'MAC';
	color:#123040;
	border-radius: .25rem;
	-moz-border-radius: .25rem;
	-webkit-border-radius: .25rem;
	height: 150px;
}

.enquiry-form{
	font-size:18px;
	margin-bottom: 35px;
}

.enquiry-form button[type="submit"]{
	margin-top:12px
}

.form-control:focus{
	border-color: #0d3240;
	box-shadow:0 0 0 0;
	-moz-box-shadow:0 0 0 0;
	-webkit-box-shadow:0 0 0 0;
}

.form-control{
	border: 1px solid #dbdbdb;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.enquiry-form textarea:focus{
	border-color: #0d3240;
}

.condition-text label{
	display: inline-block;
	width: 22px;
	margin: 0;
	position: relative;
	vertical-align: top;
}

.condition-text span{
	display: inline-block;
	width: 80%;
	vertical-align: top;
	color: #123040;
	line-height: 20px;
}

.condition-text{
	position:relative;
}

.condition-text label span.checkmark{
	background-color: #eeeeee;
	border:1px solid #cfcfcf
}

form select.form-control{
	-moz-appearance:none;
	appearance:none;
	-webkit-appearance:none;
	background: url(../images/select-icon.svg) no-repeat 98.5% / 32px 32px;
}


/*=========end form section ===========*/

/*========= input text design ==========*/

.form-group          { 
  position:relative; 
}

.form-group label{
	color: #9e9e9e;
	font-size:17px
}


/*=======end input text design ==========*/

.listing-point li{
	list-style: none;
	padding: 0px 0 16px 55px;
	background: url(../images/trust-icon.png) no-repeat left top / 28px 28px;;
}

/*========= custom input file ==========*/

.custom-file-upload .form-control{
	padding: 9px;
}


/*========end custom input file ==========*/

h2{ font-size:60px; line-height:58px; color:#000; font-family: 'MAC-Bold'; }

.section-red{ background:#872650 url(../images/red-texture.png) no-repeat right bottom; }
.section-green{ background:#00a79e url(../images/green-texture2.png) no-repeat right bottom; }
.section-red .btn-light{ 	background-color:#4a0b29;
	border-color:#4a0b29;}
.section-red .btn-light:hover {
	color: #212529;
	background-color: #fff;
	border-color: #fff;
}





.curv-blue-left{ background:url(../images/banner-left-curv.png) no-repeat 0 0; background-size:45%; padding-bottom:6px;}
.curv-orange-left{ background:url(../images/banner-left-curv-orange.png) no-repeat 0 0; background-size:45%; padding-bottom:6px;}


.brand{ max-width:700px; float:right; margin:0 52px 22px 0;}
.brand h3{ font-size:18px; margin:56px 0 18px 0;  color:#999999;font-family: 'MAC';}
.brand ul{margin:0px; padding:0px;}
.brand ul li{padding: 0 15px 15px 0; list-style:none;width:33.33%; float:left;}
.brand ul li span{list-style:none;  text-align:center; border:1px solid #f5f5f5; width:100%; float:left; transition:all ease-in-out 0.5s; padding:2px 0;}

.section-row{ margin-bottom:68px;}
.section-block{ padding:85px 40px; min-height:670px;}
.section-block .btn{ padding-left:60px; padding-right:60px;}
.full-img{}
.full-img img{ width:100%;}
.section-block h3{ font-size:48px; line-height:63px; color:#fff;font-family: 'MAC-Bold'; }
.section-block h2{ color:#fff;}

.section-block p{ font-size:18px; color:#e5e5e5;font-family: 'MAC'; }
.btn-light {color: #fff;background-color:rgba(0,0,0,0.5);border:0px;}
.section-green .btn-light {color: #fff;background-color:#00423d;border:0px;}
.section-green .btn-light:hover {
	color: #212529;
	background-color: #fff;
	border-color: #fff;
}


.cust-tab{ border:0px;}
.cust-tab.nav-tabs .nav-link{ font-size:16px;border:0px; padding-bottom:1px !important; color:#fff; font-family: 'MAC-Bold'; text-transform:uppercase; }

.cust-tab.nav-tabs .nav-link span{ display:block;border-bottom:2px solid transparent;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color:#fff;
	background-color:transparent;
	border-bottom-color:#ffff;
}

.nav-tabs .nav-item.show .nav-link span, .nav-tabs .nav-link.active span {border-bottom:2px solid #fff;}

.cust-tab.nav-tabs.event .nav-link{color:#2e2e2e;}
.nav-tabs.event .nav-item.show .nav-link span, .nav-tabs.event .nav-link.active  span {border-bottom:2px solid #008f88;}

.nav-tabs .nav-item.show .nav-link span, .nav-tabs .nav-link.active span {border-bottom:2px solid #fff;}


.location-detail-section .cust-tab.nav-tabs .nav-link{ color:#3b3b3b;}
.location-detail-section .nav-tabs .nav-item.show .nav-link span, .location-detail-section  .nav-tabs .nav-link.active span {
	border-bottom: 2px solid #3b3b3b;
}





.custom-select {
	
	background: #fff url(../images/select-box-arrow.png) no-repeat center right 15px;

}
.custom-selectlist{}
.custom-selectlist .btn{ background: #fff url(../images/select-box-arrow.png) no-repeat center right 15px !important; height:55px; border:1px solid #dbdbdb !important; line-height:41px; }

.custom-selectlist .dropdown-toggle::after {display:none;
}

.custom-tab-content{ padding:30px 0;}
.location-detail-section .custom-tab-content{ padding:30px 140px 30px 0;}


.custom-tab-content h4{ font-size:30px; margin:0px 0 6px 0; color:#fff;}
.custom-tab-content p{ font-size:18px; color:#fff; padding:0 0 10px 0; margin:0px;}
.event-gallery{ margin-bottom:24px;}
h2.white-text{}
h2.white-text span.animateme{ position:relative; display:inline-block;}

h2.white-text span.animateme:before{height:4px; display:inline-block;
    background-color:#fff;width:100%;content:""; left:0px;   position:absolute;top:100%; margin-top:12px;}
	
	
h2.white-text span.animateme .fadeIn{ position:relative; padding:0 4px; transition:all ease-in-out 0.5s;}

h2.white-text span.animateme .fadeIn:before{content:"";
  
    height:4px; display:inline-block;
    background-color:#fff;   position:absolute; top:100%; margin-top:12px;
	    -webkit-animation-name: border-animate;
        -webkit-animation-duration:4s;
  -webkit-animation-iteration-count: infinite;
  
    animation-name: border-animate;
        animation-duration:4s;
  animation-iteration-count: infinite;}
  
  
  /*animation*/
  @-webkit-keyframes border-animate{
  from {width:0px;}
    to {width:100%;}
}

@keyframes border-animate{
  from {width:0px;}
    to {width:100%;}
}



.carousel-inner-space{ padding:75px 100px 80px 100px;}

.carousel h4{font-size:18px; line-height:28px; line-height:1;  margin-bottom:25px; color:#707070;font-family: 'MAC-Bold';}
.story-spacific .carousel h4,.story-spacific .carousel h4 span{color:#808080;}


.carousel.testomonial-spacific h4{color:#3b3b3b;}
.carousel p{font-size:30px; line-height:45px; color:#2e2e2e; font-family: 'MAC';}
.carousel.testomonial-spacific p{font-size:36px; line-height:45px; color:#000 !important; font-family: 'MAC';}
.story-spacific .carousel  p{font-size:36px; line-height:45px; color:#000 !important; font-family: 'MAC-Bold';}


.carousel p:before{content:''; background:url(../images/icon_appstrophy.png)no-repeat; min-width:18px; height:28px; display:inline-block;  line-height:1; color:#2e2e2e; font-family: 'MAC';}


.carousel p:after{content:''; background:url(../images/icon_appstrophy-right.png)no-repeat; min-width:18px; height:28px; display:inline-block; line-height:1; color:#2e2e2e; }

.story-spacific .carousel p:before{content:''; background:url(../images/icon_appstrophy_white-left-gray.png)no-repeat; min-width:32px; height:32px; display:inline-block;  line-height:1; }




.carousel p.aps-inline:before{content:''; background:url(../images/icon_appstrophy.png)no-repeat; height:25px; width:15px; display:inline-block;  line-height:1; }

.carousel p.aps-inline:after{content:''; background:url(../images/icon_appstrophy-right.png)no-repeat; height:25px; width:15px; display:inline-block;  line-height:1; }

.carousel h4 span{font-size:18px; display:block; color:#707070;font-family: 'MAC';}
.carousel {}

.btn-success {color: #fff;background-color: #00a79e;border-color: #00a79e;}
.btn-success:hover{ background-color:#049d95; box-shadow:none !important;}
.carousel-control-next, .carousel-control-prev {width:50px;}
.testimonial  .carousel-control-next, .testimonial .carousel-control-prev {margin-bottom:100px;}
.carousel-control-prev-icon{background:url(../images/icon-arrow-left.png)no-repeat; height:40px;}
.carousel-control-next-icon{background:url(../images/icon-arrow-right.png)no-repeat; height:40px;}
.story-discription{ padding-left:60px !important;}

.product-launch h2{ margin-bottom:40px;}


.hidden-mobile{ display:block;}
.visible-mobile-menu{ display:none}

.visible-mobile{ display:none;}
.visible-desktop{ display:inline-block;}
.visible-desktop-block{ display:block;}
.event-container .custom-tab-content {
	padding:60px 0 30px 0;
}



/*why hire mac*/

/*---------colorsection-------------*/
.section-red-light{ background:#d9466f;}
.section-gray-lighter{ background:#f7f7f7;}
.section-dark-green{ background-color:#00423d;}
.texture-left{ background-image:url(../images/green-texture-left.png); background-repeat:no-repeat; background-position:left bottom;}


.imagin-better{ padding:66px 0 30px 0; margin-top:-15%; min-height:265px;}
.section-with-light-text h2{ color:#fff;}
.section-with-light-text p{ color:#e5e5e5;}


.hero-banner{ min-height:270px;} 
.hero-banner h1{  font-size:72px; color:#000;}
.hero-banner p{ color:#717171;}

.why-keyblock i{position:absolute; left:36px; top:50%; transform:translateY(-50%);}
.why-keyblock{ padding:34px 34px 36px 114px; margin-bottom:24px; position:relative;  }

.why-keyblock h3{ font-size:24px; margin:0 0 6px 0; color:#3b3b3b;}
.why-keyblock p{ font-size:16px; margin-bottom:0px; line-height:26px; color:#808080;}

.event-type-section{ padding:77px; padding-bottom:40px; margin-top:-24px;background:#f5faf9;}
.event-type-section h2{color:#3b3b3b; margin-bottom:30px;}
.event-type-section p{color:#808080; margin-bottom:70px;}
.event-type-section  ul{ margin:0px; padding:0px;}
.event-type-section  ul li{color:#3b3b3b; margin-bottom:30px; width:33%; font-size:24px;font-family: 'MAC-Bold'; list-style:none; display:inline-block;  }
.event-type-section  ul li i{ width:50px; margin-right:22px; height:50px; line-height:50px; border-radius:100%; background:#60c5bf; text-align:center; font-size:24px; color:#fff;}

.testimonial{padding:160px 0 140px 0;}
.testimonial h3{font-size:48px; color:#fff; margin-bottom:35px;}
.testimonial p{font-size:48px; margin-bottom:54px; line-height:68px; color:#fff;}

.testimonial .carousel p::before {
	content:'';
	height:36px; width:15px;
	display: inline-block;
	font-size: 48px;
	line-height: 1;
	color: #fff;
	font-family: 'MAC';
	background: url(../images/icon_appstrophy_white-left.png)no-repeat;
}

.testimonial .carousel p::after {
	content: ''; width:15px;
	background: url(../images/icon_appstrophy_white-right.png)no-repeat;
	height:36px;
	display: inline-block;
	font-size:48px;
	line-height: 1;
	color: #fff;
	font-family: 'MAC';
}

.testimonial .carousel h4,.testimonial .carousel h4 span { color:#fff;}

.testimonial .carousel-control-next-icon {
	background: url(../images/icon-arrow-right_white.png)no-repeat;
	height: 40px;
}

.testimonial .carousel-control-prev-icon {
	background: url(../images/icon-arrow-left_white.png)no-repeat;
	height: 40px;
}

.faq{ padding-top:80px; padding-bottom:80px;}
.faq h2{ color:#3b3b3b; margin-bottom:34px;}
.faq > p{ color:#3b3b3b; }
.accordion{ margin-top:54px;}
.accordion .card{ border:0px; border-top:1px solid #e3e3e3; background:#fff; }
.accordion {border-bottom:1px solid #e3e3e3; background:#fff; }
.accordion .card-header{ border:0px; background:#fff; padding:0px;}
.accordion h5 button{ color:#3b3b3b; font-size:30px;font-family: 'MAC-Bold'; display:block; width:100%; padding:45px 34px; text-align:left;  }
.accordion h5 button:hover{color:#3b3b3b; text-decoration:none; }




.accordion .card-body{ background:#f7f7f7;margin-bottom:40px; padding:30px 35px; }
#faq.accordion .card-body {
	padding-right: 50px;
}

.accordion .card-body p{font-size:18px; color:#3b3b3b; margin-bottom:0px;}

.accordion .btn.btn-link{ position:relative;}
.accordion .btn.btn-link:before{content:"-"; font-size:36px;font-family: 'MAC'; position:absolute; right:0px; top:50%; transform:translateY(-50%);}
.accordion .btn.btn-link.collapsed:before{content:"+";font-size:36px;font-family: 'MAC'; position:absolute; right:0px;  top:50%; transform:translateY(-50%);}


.spacetype-acordian.accordion{margin-top: 0; border-bottom:0px;}
.spacetype-acordian.accordion .card-header {border: 0px;background: #f0f0f0;padding: 0px;}
.spacetype-acordian.accordion .card{ border:0px; border-top:1px solid #fff; background:#f0f0f0; }

.spacetype-acordian.accordion .btn.btn-link::before {
	content: "-";
	font-size: 20px;
	font-family: 'MAC';
	position: absolute;
	right: 15px;
		top: 50%;
	transform:translatey(-50%);
	font-weight: normal;
	border: 1px solid #525252;
	color:#6a6a6a;
	border-radius: 100%;
	height: 23px;
	width: 23px;
	line-height:18px;
	text-align: center;
}
.spacetype-acordian.accordion .btn.btn-link.collapsed::before {
	content: "+";
	font-size: 20px;
	font-family: 'MAC';
	position: absolute;
	right: 15px;
	top: 50%;
	transform:translatey(-50%);
	font-weight: normal;
	border: 1px solid #525252;
	color:#6a6a6a;
	border-radius: 100%; 
	height: 23px;
	width: 23px;
	line-height:20px;
	text-align: center;
}





.spacetype-acordian.accordion h5 button{ color:#000; font-size:24px;font-family: 'MAC-Bold'; display:block; width:100%; 
padding:15px 25px; text-align:left;  }
.spacetype-acordian.accordion h5 button:hover{color:#000; text-decoration:none; }
.spacetype-acordian.accordion .card-body{ background:#f0f0f0;margin-bottom:0;padding:0 25px 25px 25px; }
.spacetype-acordian.accordion .card-body ul{ margin:0px;}
.spacetype-acordian.accordion .card-body ul li{list-style:none;}


.website-by {float: right; padding-right:0px !important; margin-right:0px  !important; color:#616161 !important;}

.intro-text .btn-outline-info.btn-lg.btn{ margin-top:5px;}

.viewall{}
.viewall a{ font-size:14px; color:#070707; display:block;}
.btn.focus, .btn:focus {
	box-shadow:none !important;
}

/*explore-space*/
.explore-spaces{ padding-top:53px; padding-bottom:46px;}
.explore-spaces p{color:#fff!important; margin-bottom:42px; font-size:20px !important;}
.explore-spaces h2{margin-bottom:25px;}
.col-split5{}
.col-split5 [class*="col-"]{ width:20%; -ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
.large-input .form-control{ border:1px solid #bfbebe;min-height:55px;}
.large-input .btn{min-height:55px; font-size:18px;font-family: 'MAC-Bold';}
.large-input .btn-outline-light {border-width: 2px !important;}

.explore-spaces-block{}
.explore-spaces-block{ padding-top:80px !important; padding-bottom:20px !important;}
.card-img-full{ width:100%;}
.gray-space-block{ background:#f6f6f6; border:0px; border-radius:0px;}
.explore-spaces-block .card{ margin-bottom:60px;}
.explore-spaces-block .card-title{font-size:27px; color:#000;font-family: 'MAC-Bold';}
.explore-spaces-block .card-text{font-size:18px; color:#3b3b3b;}
.explore-spaces-block .card-text .text-muted{font-size:18px;padding:4px 0 8px 0; line-height:1; display:block; font-family: 'MAC-Bold'; color:#3b3b3b;}
.explore-spaces-block .card-text .text-muted a{color:#3b3b3b; padding-bottom:3px; border-bottom:1px solid #3b3b3b; display:inline-block; }
.explore-spaces-block .card-text .text-muted a:hover{ border-bottom-color:transparent;}


.explore-spaces-block ul{ margin:0px 0 18px 0; padding:0px;}
.explore-spaces-block ul li{font-size:16px; margin:0 0 5px 0; list-style:none;}
.explore-spaces-block ul li i{margin-right:12px;}

.explore-spaces-block .card-body {padding:20px 30px 34px 30px; }

.space-value{ display:block;padding:0px; text-align:center;}
.space-value li{ display:inline-block; padding:0 8.5%; text-align:center;}
.space-value li span{ font-size:20px;font-family: 'MAC-Bold';}
.space-value li p{ font-size:36px;font-family: 'MAC-Bold'; margin-top:25px;}


.no-appstrophy{}
.no-appstrophy:before{display:none !important;}

.block-with-hover{ position:relative; display:block;}


 .block-with-hover .overlay {
	background: rgba(0, 0, 0, 0);
	transition: all ease-in-out 0.5s;
	content: "";
	height: 100%;
	width: 100%;
	display: block;
	left: 0px;
	position: absolute;
	right: 0px;
	z-index: 1;
	top: 0px;
	bottom: 0px;
}

 .block-with-hover:hover .overlay, .success-story-list:hover .overlay {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.border-left {
	border-left: 1px solid #f6f6f6 !important;
}

.testomonial-spacific{ margin:5px 0 100px 0;}

.download-detail{}
.download-detail h2{ font-size:36px;}

.download-detail-content{ padding:70px 40px 40px 40px; margin-bottom:60px;}
.more-detail{ padding-left:60px; position:relative;}
.more-detail a:hover h3{ text-decoration:underline;}
.more-detail i{position:absolute; left:12px; top:0px;}
.more-detail h3{font-size:24px; color:#000; margin-bottom:10px;}
.more-detail p{font-size:16px; color:#3b3b3b;}

.over-hidden{overflow:hidden;}
.scroll-position{ position:absolute; right:115px; top:60px; z-index:8;}
.dropdown-menu.inner{ display:block; border-radius:0px; padding:0 10px !important;}
.dropdown-menu.inner a{ color:#666; display:block; padding:5px 0;}
.dropdown-menu.inner .selected a{ color:#00a79e;}
.custom-selectlist .dropdown-menu{ border:1px solid #bfbebe; margin-top:15px;}

 .dropdown-menu {
	position: relative;
	background: #FFFF; overflow:visible !important;
	border: 4px solid #FFF;
}
.custom-selectlist .dropdown-menu::before {
	width: 23px;
	height: 16px;
	background: url(../images/dropdown_arrow.png)no-repeat;
	content: "";
	display: inline-block;
	position: absolute;
	left: 48%;
	top: -8px;
	background-size: 100%;
}

.custom-selectlist .dropdown-menu.open { border-radius:0px;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right:0;
	margin-top: 5px;
}

.bootstrap-select .glyphicon.glyphicon-ok.check-mark:after{content:"\f00c";font-family:'FontAwesome';}

.large-input .custom-selectlist .btn {
	min-height: 55px; margin:0px !important;
	font-size: 1rem;
	font-family: 'MAC';
	color: #495057;
}

.success-story{ padding:100px 0 50px 0;}
.success-story-block{ min-height:335px;}
.success-story-block h2{font-size:48px;}
.full-width{width:100%;}


.success-story-list{ background:#f6f6f6;transition:all ease-in-out 0.5s; margin-bottom:50px;}
.success-story-list .btn-default{background:#fff;font-family: 'MAC-Bold'; color:#000;}

.btn-position{ position:absolute; left:0px; z-index:8; right:0px; text-align:center; top:50%; transform:translateY(-50%;);}
.success-story-detail{ background:#f6f6f6; padding:40px; position:relative;}
.success-story-detail p{ color:#444444; font-size:14px; margin-bottom:17px; text-transform:uppercase;}
.success-story-detail p.thoughts{ color:#000; padding-top:10px; max-width:75%; font-size:20px; margin-bottom:17px; text-transform:none;}

.success-story-detail p.thoughts:before{content:'“'}
.success-story-detail p.thoughts:after{content:'”';}
.nearby-discription{}
.nearby-discription p{ font-size:20px; color:#2f2f2f; margin:30px 0 82px 0
}



.success-story-detail h3{ color:#000; font-size:30px; margin:0px;}

.block-with-hover .btn ,.success-story-list .btn { opacity:0; transition:all ease-in-out 0.5s;}
.block-with-hover:hover .btn,.success-story-list:hover .btn{ opacity:1; }

.logo-container{ position:absolute; right:40px; top:40px; text-align:center; min-width:160px; }
.full-image img{ width:100%;}

.running-text-space{ padding:70px 0 45px 0;} 

.running-text{}
.running-text p{ font-size:20px; color:#3b3b3b; line-height:34px;}

.keyblock-space{ padding:90px 0}

.keyblock{ background:#00a79e; padding:50px 30px; text-align:center;}
.keyblock h3{ font-size:36px; margin:0px; padding:0px; color:#fff;}
.keyblock p{ font-size:18px; margin:0px; padding:0px;  color:#fff;}


.meet-the-team-section{ min-height:334px;}
.meet-the-team{ padding:40px 0 ; }
.member-list{ margin:20px 0; background:#f6f6f6;}
.member-detail{ padding:20px; position:relative;}
.member-detail h3{margin:0px; font-size:26px; padding:0px; color:#000;}
.member-detail ul{ margin:15px 0;}
.member-detail ul li{font-size:14px; display:inline-block;}
.member-detail ul li a{font-size:16px; padding:0 5px; color:#666; display:inline-block;}
.member-detail p{margin:0px; padding:0px 0 10px 0; font-size:16px; color:#3b3b3b;}
.member-detail-collapse{}
.member-detail-collapse p{ font-size:18px; color:#3b3b3b; line-height:28px; margin:0px; padding:0px;}
.arrow-position{text-align:center; position:absolute; right:0px; top:0px; color:#fff;}
.arrow-position a{ color:#fff; background:#c24d00; width:30px; display:inline-block; height:30px; cursor:pointer; }
.arrow-position a.collapsed  .fa-angle-up:before{ color:#fff; content:"\f107";font-family:'FontAwesome';}
.location-section{ background:#002d2a !important; min-height:340px;}

.location-detail-section{ padding-top:80px; padding-bottom:40px;}


.location-detail-section h3{ font-size:36px; color:#000;}
.location-detail-section p{ font-size:18px; color:#808080;}

.location-detail-section  .custom-tab-content p {

	padding: 0 0 50px 0;
}



.make-an-enquiry-section .contactus{position:relative; z-index:2;}

.make-an-enquiry-section{ background:#f7f7f7; padding:75px 0; position:relative;}
.make-an-enquiry-section:after{ background:#fbfbfb;width:45%; content:""; position:absolute; right:0px; top:0px; bottom:0px; height:100%; z-index:1;}

.followup{padding-right:80px !important;}
.form-big-element{}
.form-big-element {width:93%;}
.form-big-element .form-control{ height:48px; border:1px solid #bfbebe;}
.form-big-element .form-control:focus{  border:1px solid #0d3240;}
.form-big-element  .form-group label {color:#3b3b3b;font-size:14px; font-weight:normal; display:block;}
.form-big-element .btn-group{ width:100% !important;}
.form-big-element .custom-selectlist .btn{border:1px solid #bfbebe !important;}
.form-big-element .form-group{position:static;}

.date-field{ width:20%; display:inline-block; padding-right:10px;}
.month-field{ width:43%; display:inline-block;padding-right:10px;}
.year-field{ width:35%; display:inline-block; float:right;}

.form-big-element .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	margin-top: 0;}
	
.min-w-210{ min-width:210px;}	
.make-an-enquiry-section{}
.make-an-enquiry-section h2{ margin-bottom:30px;}

.custom-control-label { color:#444444}
.custom-control-label a{ color:#444444; display:inline-block; border-bottom:1px solid #444444;}
.custom-control-label a:hover{border-bottom:0px;}

.contact-person{  position:relative;}
.contact-person .rounded-circle{position:absolute; left:0px; top:0px; width:105px; height:105px; }
.contact-person h3{ font-size:24px;font-family: 'MAC-Bold'; color:#3b3b3b; margin-bottom:10px;}
.contact-person p{ font-size:20px; color:#3b3b3b; margin-bottom:0;}
.contact-person p img{margin-right:8px;}
.contactus .brand ul li span img {height:54px;}
.followup > p,.contactus > p{ margin-bottom:50px;}

.needto-talk{ margin-top:60px;}
.needto-talk p{ font-size:14px; color:#9d9d9d;}
.needto-talk p span{display:block; line-height:1;  font-family: 'MAC-Light';}
.f-none{ float:none !important;}


.contactus .brand {margin-top: 25px;}


/*new*/

.navbar-collapse{ flex-grow:inherit;}
.banner-box h1{ text-transform:uppercase;}
.banner-box h1 small{ text-transform:uppercase; display:block;  font-family: 'MAC-Light'; font-size:28px;}
.thoughts{ padding-left:30px ; padding-top:20px;}
.thoughts p{font-family: 'MAC-Bold'; font-size:28px; line-height:1; margin-bottom:15px;}
.address-block p{ font-size:14px; color:#686868; padding-left:30px; margin-bottom:15px; position:relative;}
.address:before{content:"\f041"; position:absolute; left:0px; top:5px; font-family:'FontAwesome'; font-size:24px; color:#fff;}
.phone-n:before{content:"\f095"; position:absolute; left:0px; top:0px; font-family:'FontAwesome'; font-size:24px; color:#fff;}
.email-id:before{content:"\f0e0"; position:absolute; left:0px; top:0px; font-family:'FontAwesome'; font-size:24px; color:#fff;}
.curv-blue-right{ background:url(../images/curb-blue-right.png)no-repeat right top; }
.section-orange{ background:#d35400;}
.newsstand{}
.newsstand ul{ margin:0px; padding:0px;}
.newsstand ul li{display:block; list-style:none; position:relative; padding-bottom:25px;}
.newsstand ul li:before{content:"";width: 70%;left: -48px;bottom: 10px; height:2px; position:absolute;  background:#e8a67a}
.newsstand ul li h4{color:#fff; font-size:24px; margin-bottom:10px;}
.mCustomScrollbar{ max-height:350px;}
.newsbox{ min-height:580px !important; min-width:100%;  margin-right:0px !important;}
.news-section{ padding:40px 0 80px 0;}

.thoughts.carousel.section-gray-light{ min-height:400px;} 
.section-blue{ background:#0071bc;}
.nav-seems-tab{ text-align:center}
.nav-seems-tab li{display:inline-block;}
.nav-seems-tab li a{display:inline-block; padding:5px 30px;color:#fff;}
.nav-seems-tab li a:hover{ border-bottom:1px solid #fff;}
.bg-gray{ background:#f2f2f2;}

.space-100{ padding:100px 0;}
.space-50{ padding:50px 0;}
.testimonial-section{ padding:100px 0 0 0;}

.testimonial-section .carousel-indicators li {
	position: relative;
	-ms-flex: 0 1 auto; cursor:pointer;
	flex: 0 1 auto;
	width: auto; color:#c7c7c7;
	height: auto;
	margin-right: 3px;
	margin-left: 3px; background:none;
	text-indent: 0;
}
.testimonial-section .carousel-indicators li.active { color:#fb6b58}

.testimonial-section blockquote h4{ margin:0px;}


#what-student-says.curv-blue-right {
	background: url(../images/curb-blue-right.png)no-repeat right center;
	background-size: auto 100%;
}