﻿@model FNSWeb.Models.QuestionMasterViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Question Master</h6>
            <p class="mg-b-30">Edit Question Master.</p>
            @using (Html.BeginForm("Edit", "QuestionMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                  <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.CourseID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.CourseID, BLL.CommonUtility.GetCourse(), "Select Course", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.SubjectID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.SubjectID, BLL.CommonUtility.GetSubject(), "Select Subject", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.TopicID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.TopicID, BLL.CommonUtility.GetTopic(), "Select Topic", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.TopicID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QuestionLevelID, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.QuestionLevelID, BLL.CommonUtility.GetQuestionLevel(), "Select Level", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QuestionLevelID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.TeacherId, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.DropDownListFor(model => model.TeacherId, BLL.CommonUtility.GetTeacher(), "Select Teacher", new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.TeacherId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueTitle, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueTitle, new { @class = "form-control text-box", placeholder = "Enter Title" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.questionImage)" alt="@Model.questionImage" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="questionImageFile" name="questionImageFile" />
                    </div>
                    
                </div>
                @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.ExtraNotesDescription, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.ExtraNotesDescription, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.ExtraNotesDescription, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueOpt_1, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueOpt_1, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueOpt_1, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Opt_1 Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.answerOpt_1_Image)" alt="@Model.answerOpt_1_Image" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="answerOpt_1_ImageFile" name="answerOpt_1_ImageFile" />
                    </div>
                    
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueOpt_2, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueOpt_2, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueOpt_2, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Opt_2 Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.answerOpt_2_Image)" alt="@Model.answerOpt_2_Image" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="answerOpt_2_ImageFile" name="answerOpt_2_ImageFile" />
                    </div>
                    
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueOpt_3, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueOpt_3, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueOpt_3, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Opt_3 Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.answerOpt_3_Image)" alt="@Model.answerOpt_3_Image" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="answerOpt_3_ImageFile" name="answerOpt_3_ImageFile" />
                    </div>
                    
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueOpt_4, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueOpt_4, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueOpt_4, "", new { @class = "text-danger" })
                    </div>
                </div>
                 <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Question Opt_4 Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.answerOpt_4_Image)" alt="@Model.answerOpt_4_Image" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="answerOpt_4_ImageFile" name="answerOpt_4_ImageFile" />
                    </div>
                    
                </div>
                @*<div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.QueOpt_5, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.QueOpt_5, new { @class = "form-control text-box", placeholder = "Enter Description" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.QueOpt_5, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.CorrectOptionNo, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.CorrectOptionNo, new { @class = "form-control text-box", placeholder = "Enter SequenceNo" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.CorrectOptionNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        Correct Option Picture
                        <img src="@Url.Content(Core.SiteSettings.QuestionImagePath + Model.correct_Opt_Image)" alt="@Model.correct_Opt_Image" width="200px" />
                        
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        
                        <input type="file" class="btn btn-file" id="correct_Opt_ImageFile" name="correct_Opt_ImageFile" />
                    </div>
                    
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.CorrectOptionExplanation, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.CorrectOptionExplanation, new { @class = "form-control text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                       
                    </div>
                </div>
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.IsActive, new { @class = "form-control-label" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.IsActive, new { @class = "text-box" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                    </div>
                </div>
                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit</button>
                            <a href="/QuestionMaster/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
