﻿@model FNSWeb.Models.KioskMasterModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>Kiosk Registration</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/fonts/styles.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap-select.css">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="mobile-header navbar  visible-mobile-menu">
            <a class="navbar-brand" href="index.html"> <img src="~/images/logo.png" alt="" /> </a>
            <div class="mobile-top-icons d-lg-none d-sm-block">
                <div class="mobile-icon-sm "><span class="phone"> <a href="tel:02890892714"><img class="mr-2" src="~/images/icon_phone.svg" alt="" /></a></span></div>
                <button type="button" class="navbar-toggle bar collapsed" data-toggle="collapse" data-target="" aria-expanded="false"> </button>
            </div>
            <div class="nav-right logo-white" id="mobile-menu">
                <a class="navbar-brand" href="index.html"> <img src="~/images/footer-logo.png" alt="" /> </a>
                <button type="button" class="navbar-toggle navbar-toggle-close" data-toggle="collapse" data-target="" aria-expanded="false"> </button>
                <ul class="nav navbar-nav mobile-nav">

                    <li><a href="index"> Home </a></li>

                    <li><a href="#"> Course Offered  </a></li>

                    <li><a href="#"> Skills  </a></li>

                    <li><a href="#"> News  </a></li>

                    <li><a href="javascript:void(0);"> Contact Us  </a></li>



                    <li class="nav-btn "><a href="#">Make an Enquiry </a></li>
                    <li class="phone-nav"><a href="tel:9660013763"> <img src="~/images/icon_phone_white.svg" alt="" />+91 9660013763</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="social">
                    <li> <a href="#"> <i class="fa fa-facebook-official"> </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-instagram"> </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube-play"> </i> </a> </li>
                </ul>
                <div class="clearfix"></div>
                <div class="full-row footer-bottom">
                    <ul>
                        <div class="footer-bottom-menu"> </div>
                        <li class="first"> &copy;Copyright 2018 AKV Classes   </li>

                        <li> <a href="#"> Terms & Conditions </a> </li>
                        <li> <a href="#">Privacy Policy </a> </li>
                        <li> <a href="#"> Cookies </a> </li>
                    </ul>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-default navbar-expand-lg header-top hidden-mobile">
            <div class="container">
                <div class="logo logo-desktop"><a href="index.html"><img src="~/images/logo.png" alt="" /> </a></div>
                <button id="navbar-toggle" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="collapse navbar-collapse js-navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-header">
                        <div class="logo-mobile logo"><a href="index.html"><img src="~/images/footer-logo.svg" alt="" width="92"> </a></div>
                    </div>
                    <div class="navbar-custom">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="index"> <span> Home </span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><span> Course Offered </span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"> <span> Skills </span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="head-right d-none d-xl-block d-md-block">
                    <div class="phone">Speak to a venue specialist &nbsp; <b>+91 9660013763</b></div>
                    <div class="right-menu">
                        <ul>
                            <li><a href="#"><span> News </span> </a></li>
                            <li><a href="javascript:void(0);"><span> Contact Us </span> </a></li>
                            <li><a class="btn btn-primary btn-lg" href="#">Make an Enquiry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="make-an-enquiry-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7  followup ">
                        <h2>Lets move together </h2>
                        <p>Once you put details with us, we ativate you and get your space. </p>
                        @if (TempData["Success"] != null)
                        {
                            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                        }
                        @using (Html.BeginForm("RegisterKiosk", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-big-element" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @*<form class="form-big-element">*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Kiosk Name </label>

                                        @Html.EditorFor(model => model.KioskName, new { @class = "form-control", placeholder = "Enter Kiosk Name" })
                                        @Html.ValidationMessageFor(model => model.KioskName, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-md-6">
                                        <label> Kiosk Registration No</label>
                                        @Html.EditorFor(model => model.KioskRegistrationNO, new { @class = "form-control", placeholder = "Enter Last Name" })
                                        @Html.ValidationMessageFor(model => model.KioskRegistrationNO, "", new { @class = "text-danger" })

                                    </div>*@
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Kiosk Person First Name</label>
                                        @Html.EditorFor(model => model.UserDetail.FirstName, new { @class = "form-control", placeholder = "Enter Subject" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.FirstName, "", new { @class = "text-danger" })
                                        @*<select class="selectpicker custom-selectlist show-tick" tabindex="-98">
                                                <option>Select Subject </option>
                                            </select>*@
                                    </div>
                                    <div class="col-md-6">
                                        <label> Kiosk Person Last Name</label>
                                        @Html.EditorFor(model => model.UserDetail.LastName, new { @class = "form-control", placeholder = "Enter Subject" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.LastName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Email Address </label>
                                        @Html.EditorFor(model => model.UserDetail.Email, new { @class = "form-control", placeholder = "Enter Email" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label> Phone Number </label>
                                        @Html.EditorFor(model => model.UserDetail.PhoneNo, new { @class = "form-control", placeholder = "Enter Phone number" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.PhoneNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Password </label>
                                        @Html.EditorFor(model => model.UserDetail.Password, new { @class = "form-control", placeholder = "Enter Email" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label> Confirm Password </label>
                                        @Html.EditorFor(model => model.UserDetail.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Phone number" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> State </label>
                                        @Html.DropDownListFor(model => model.UserDetail.State, BLL.CommonUtility.GetState(), "Select State", new { @class = "form-control", @required = "required", onchange = "getCityList()" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.State, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label> City </label>
                                        @Html.DropDownListFor(model => model.UserDetail.City, BLL.CommonUtility.GetCity(2), "Select City", new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.UserDetail.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label> Address </label>
                                        @Html.EditorFor(model => model.Address, new { @class = "form-control", placeholder = "Enter Enquiry", rows = "20" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck1" type="checkbox" checked>
                                    <label class="custom-control-label" for="customCheck1">I agree to be contacted by email with the <a href="#"> Privacy Policy </a> </label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <button class="btn btn-info btn-lg min-w-210"> Send Request </button>
                            </div>
                            @*</form>*@
                        }
                    </div>
                    <div class="col-xl-5 contactus">
                        <h2> Contact us </h2>
                        <p>
                            Questions about Anything? Just have your <br>
                            people call call or email Us
                        </p>
                        <div class="full-row contact-person">
                            <p>
                                <i class="fa fa-map-marker"></i>  Plot No - 80 , GAutam Nagar 8,
                                Jaipur, Rajasthan
                            </p>
                            <p><i class="fa fa-phone"></i>   028 9089 2714 </p>
                            <p> <i class="fa fa-envelope"></i>  <a href="mailto:info@test.com"> info@test.com</a></p>
                        </div>
                        <div class="brand full-row f-none ">
                            <h3>Brands who have used us… </h3>
                            <ul>
                                <li><span> <img src="~/images/group-logo/logo_ulster.png" alt=""></span> </li>
                                <li><span> <img src="~/images/group-logo/logo_artbusiness.png" alt=""> </span> </li>
                                <li> <span> <img src="~/images/group-logo/logo_ulster_university.png" alt=""> </span> </li>
                                <li><span> <img src="~/images/group-logo/logo_imma.png" alt=""> </span> </li>
                                <li> <span> <img src="~/images/group-logo/logo_allen-overy.png" alt=""> </span> </li>
                                <li> <span> <img src="~/images/group-logo/logo_belfast.png" alt=""> </span> </li>
                            </ul>
                        </div>
                        <div class="needto-talk full-row ">
                            <p>
                                <strong> Not quite ready to talk to someone? </strong> <span>
                                    Check out our comprehensive
                                    <strong> <a href="#">FAQs </a> </strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class=" d-lg-none d-xl-none  d-done d-sm-block  d-md-block ">
            <div class="back-to-top ScrollTop"> <a href="#"> <img src="~/images/up-icon.svg" alt="" width="40" /> </a> </div>
        </div>
        <div class="d-none d-lg-block d-xl-block scroll-position">
            <div class="back-to-top ScrollTop"><a href="#"><img src="~/images/up-icon.svg" alt="" width="40" /></a></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-logo col-lg-3 "> <a href="index.html"><img src="~/images/footer-logo.png" alt="" /></a> </div>
                <div class=" col-md-3 ">
                    <h3>QUICK LINK </h3>
                    <ul class="footer-link">
                        <li><a href="#"> Home </a></li>

                        <li><a href="#"> Course Offered  </a></li>

                        <li><a href="#"> Skills  </a></li>

                        <li><a href="#"> News  </a></li>

                        <li><a href="#"> Contact Us  </a></li>


                    </ul>
                </div>
                <div class=" col-lg-3  address-block">
                    <h3>ADDRESS  </h3>

                    <p class="address">
                        Plot No - 80 , GAutam Nagar 8,
                        Jaipur, Rajasthan
                    </p>

                    <p class="phone-n"> +91 966001376 </p>
                    <p class="email-id"> +91 966001376 </p>



                </div>
                <div class="col-lg-3  text-right">
                    <h3>Contact Us  </h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113874.29338090064!2d75.72051792571312!3d26.885346595389432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1534519165975" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>


                </div>
            </div>
            <div class="row">
                <div class="copyright col-sm-6 ">
                    <div class="footer-bottom-menu">&copy;Copyright 2018 All Rights Reserved AKV Classes   </div>
                </div>
                <div class=" col-sm-6  text-right">
                    <ul class="social footer-social">
                        <li> <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    </ul>


                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/jquery-3.3.1.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.reject.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/support.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#KioskName, #KioskRegistrationNO, #UserDetail_FirstName, #UserDetail_LastName, #UserDetail_Email, #UserDetail_PhoneNo, #UserDetail_Password, #UserDetail_ConfirmPassword').addClass("form-control");
            //$('#UserDetail_State, #UserDetail_City').addClass("selectpicker custom-selectlist show-tick");
            //$('#UserDetail_State, #UserDetail_City').addClass("selectpicker");


        });
    
     function getCityList() {
         var stateId = $("#UserDetail_State").val();
         $.ajax
         ({
             url: '/KioskMaster/GetCityList',
             type: 'POST',
             datatype: 'application/json',
             contentType: 'application/json',
             data: JSON.stringify({
                 stateId: +stateId
             }),
             success: function (result) {
                 $("#UserDetail_City").html("");
                 $("#UserDetail_City").append($('<option selected></option>').val(0).html('Select City'))
                 $.each($.parseJSON(result), function (i, city) {
                     $("#UserDetail_City").append($('<option></option>').val(city.Value).html(city.Text))
                 })
             },
             error: function () {
                 alert("Whooaaa! Something went wrong..")
             },
         });
     }
   

    </script>


</body>
</html>