﻿@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>Student Corner</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/fonts/styles.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/mCustomScrollbar.css" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/layout.css" rel="stylesheet">

    
</head>
<body>
    <div class="wrapper">
        <header class="mobile-header navbar  visible-mobile-menu">
            <a class="navbar-brand" href="index.html"> <img src="~/images/logo.png" alt="" /> </a>
            <div class="mobile-top-icons d-lg-none d-sm-block">
                <div class="mobile-icon-sm "><span class="phone"> <a href="tel:02890892714"><img class="mr-2" src="~/images/icon_phone.svg" alt="" /></a></span></div>
                <button type="button" class="navbar-toggle bar collapsed" data-toggle="collapse" data-target="" aria-expanded="false"> </button>
            </div>
            <div class="nav-right logo-white" id="mobile-menu">
                <a class="navbar-brand" href="index.html"> <img src="~/images/footer-logo.png" alt="" /> </a>
                <button type="button" class="navbar-toggle navbar-toggle-close" data-toggle="collapse" data-target="" aria-expanded="false"> </button>
                <ul class="nav navbar-nav mobile-nav">

                    <li><a href="index"> Home </a></li>

                    <li><a href="#"> Course Offered  </a></li>

                    <li><a href="#"> Skills  </a></li>

                    <li><a href="#"> News  </a></li>

                    <li><a href="contactus"> Contact Us  </a></li>



                    <li class="nav-btn "><a href="#">Make an Enquiry </a></li>
                    <li class="phone-nav"><a href="tel:9660013763"> <img src="~/images/icon_phone_white.svg" alt="" />+91 9660013763</a></li>
                </ul>
                <div class="clearfix"></div>
                <ul class="social">
                    <li> <a href="#"> <i class="fa fa-facebook-official"> </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-instagram"> </i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube-play"> </i> </a> </li>
                </ul>
                <div class="clearfix"></div>
                <div class="full-row footer-bottom">
                    <ul>
                        <div class="footer-bottom-menu"> </div>
                        <li class="first"> &copy;Copyright 2018 AKV Classes   </li>

                        <li> <a href="#"> Terms & Conditions </a> </li>
                        <li> <a href="#">Privacy Policy </a> </li>
                        <li> <a href="#"> Cookies </a> </li>
                    </ul>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-default navbar-expand-lg header-top hidden-mobile">
            <div class="container">
                <div class="logo logo-desktop"><a href="index.html"><img src="~/images/logo.png" alt="" /> </a></div>
                <button id="navbar-toggle" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <div class="collapse navbar-collapse js-navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-header">
                        <div class="logo-mobile logo"><a href="index.html"><img src="~/images/footer-logo.svg" alt="" width="92"> </a></div>
                    </div>
                    <div class="navbar-custom">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="index"> <span> Home </span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><span> Course Offered </span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"> <span> Skills </span></a></li>
                            <li class="nav-item"><a class="nav-link" href="Javascript:void(0);"> <span> Student Corner </span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="head-right d-none d-xl-block d-md-block">
                    <div class="phone">Speak to a venue specialist &nbsp; <b>+91 9660013763</b></div>
                    <div class="right-menu">
                        <ul>
                            <li><a href="#"><span> News </span> </a></li>
                            <li><a href="#"><span> Contact Us </span> </a></li>
                            <li><a class="btn btn-primary btn-lg" href="#">Make an Enquiry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="top full-banner over-hidden ">
            <div class="container">
                <div class=" full-img "> <img src="~/images/student-corner.jpg" alt="" /> </div>
            </div>
        </section>

        <div class="container">
            <div class=" row justify-content-center">
                <div class=" col-lg-10 col-sm-offset-1">
                    <div class="full-row imagin-better section-orange section-with-light-text text-center">
                        <h2>STUDENT CORNER </h2>

                        <ul class="nav-seems-tab">
                            <li> <a href="#what-student-says" class="takeme-toposition"> WHAT STUDENT SAYS </a> </li>
                            <li> <a href="#latest-course" class="takeme-toposition"> LATEST COURSE </a> </li>
                            <li> <a href="#latest-notification" class="takeme-toposition"> LATEST NOTIFICATION </a> </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="full-row curv-blue-right space-100" id="what-student-says">

        <h2 class="text-center"> What Student Says  </h2>
        <p class="text-center">Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo. </p>
        <div class="full-row bg-gray testimonial-section">
            <div class="container">
                <div id="student-testimonial" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-sm-4 text-center "> <img src="~/images/student-testimonial.jpg"> </div>
                                <div class="col-sm-8">
                                    <div class="caption">
                                        <p class=" lead adjust2">
                                            <span class="text-info"> I can't wait to test this out. </span>  <br />
                                            This is a testimonial window. Feedback of user can be displayed here.
                                        </p>
                                        <blockquote class="adjust2">
                                            <h4> Abhijit Goswami </h4>
                                            <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-sm-4 text-center "> <img src="~/images/student-testimonial.jpg"> </div>
                                <div class="col-sm-8">
                                    <div class="caption">
                                        <p class=" lead adjust2">
                                            <span class="text-info"> I can't wait to test this out. </span>  <br />
                                            This is a testimonial window. Feedback of user can be displayed here.
                                        </p>
                                        <blockquote class="adjust2">
                                            <h4> Abhijit Goswami </h4>
                                            <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-sm-4 text-center "> <img src="~/images/student-testimonial.jpg"> </div>
                                <div class="col-sm-8">
                                    <div class="caption">
                                        <p class=" lead adjust2">
                                            <span class="text-info"> I can't wait to test this out. </span>  <br />
                                            This is a testimonial window. Feedback of user can be displayed here.
                                        </p>
                                        <blockquote class="adjust2">
                                            <h4> Abhijit Goswami </h4>
                                            <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#student-testimonial" data-slide-to="0" class="active"> <i class="fa fa-graduation-cap"></i></li>
                        <li data-target="#student-testimonial" data-slide-to="1"><i class="fa fa-graduation-cap"></i></li>
                        <li data-target="#student-testimonial" data-slide-to="2"><i class="fa fa-graduation-cap"></i></li>
                    </ol>
                </div>


            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class=" container explore-spaces-block space-80" id="latest-course">

            <h2> Latest Courses   </h2>


            <div class="card-group row">
                <div class="col-md-4 col-lg-3">
                    <div class="card gray-space-block ">
                        <picture class="full-image block-with-hover ">
                            <a href="#">
                                <div class="overlay"></div>
                                <img class="card-img-full" src="~/images/course.jpg" alt="">
                            </a>
                        </picture>
                        <div class="card-body">
                            <ul>
                                <li><i class="fa fa-compass"> </i> Course Duration : <strong> 2 Years </strong> </li>
                                <li><i class="fa fa-expand"> </i> Class Size : <strong>30 </strong> </li>
                            </ul>
                            <h5 class="card-title">Nural Networkin </h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                            <p class="card-text"><small class="text-muted"> <a href="#"> View Detail </a> </small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card gray-space-block ">
                        <picture class="full-image block-with-hover ">
                            <a href="#">
                                <div class="overlay"></div>
                                <img class="card-img-full" src="~/images/course.jpg" alt="">
                            </a>
                        </picture>
                        <div class="card-body">
                            <ul>
                                <li><i class="fa fa-compass"> </i> Course Duration : <strong> 2 Years </strong> </li>
                                <li><i class="fa fa-expand"> </i> Class Size : <strong>30 </strong> </li>
                            </ul>
                            <h5 class="card-title">Nural Networkin </h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                            <p class="card-text"><small class="text-muted"> <a href="#"> View Detail </a> </small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card gray-space-block ">
                        <picture class="full-image block-with-hover ">
                            <a href="#">
                                <div class="overlay"></div>
                                <img class="card-img-full" src="~/images/course.jpg" alt="">
                            </a>
                        </picture>
                        <div class="card-body">
                            <ul>
                                <li><i class="fa fa-compass"> </i> Course Duration : <strong> 2 Years </strong> </li>
                                <li><i class="fa fa-expand"> </i> Class Size : <strong>30 </strong> </li>
                            </ul>
                            <h5 class="card-title">Nural Networkin </h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                            <p class="card-text"><small class="text-muted"> <a href="#"> View Detail </a> </small></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card gray-space-block ">
                        <picture class="full-image block-with-hover ">
                            <a href="#">
                                <div class="overlay"></div>
                                <img class="card-img-full" src="~/images/course.jpg" alt="">
                            </a>
                        </picture>
                        <div class="card-body">
                            <ul>
                                <li><i class="fa fa-compass"> </i> Course Duration : <strong> 2 Years </strong> </li>
                                <li><i class="fa fa-expand"> </i> Class Size : <strong>30 </strong> </li>
                            </ul>
                            <h5 class="card-title">Nural Networkin </h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                            <p class="card-text"><small class="text-muted"> <a href="#"> View Detail </a> </small></p>
                        </div>
                    </div>
                </div>




            </div>
        </div>



        <section class="top full-banner curv-blue-left wow animate-bg-left news-section">




            <div class="container " id="latest-notification">



                <div class=" d-flex align-items-center row">

                    <div class="col-lg-12 ">

                        <div class="section-orange newsbox box box-left-position white-text box-event">

                            <h2 class="white-text">Latest Notification </h2>
                            <div class="newsstand mCustomScrollbar ">
                                <ul>
                                    <li>
                                        <h4> News Title </h4>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </li>

                                    <li>
                                        <h4> News Title </h4>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </li>


                                    <li>
                                        <h4> News Title </h4>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </li>


                                    <li>
                                        <h4> News Title </h4>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </li>



                                </ul>


                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </section>
    </div>






    <footer>
        <div class=" d-lg-none d-xl-none  d-done d-sm-block  d-md-block ">
            <div class="back-to-top ScrollTop"> <a href="#"> <img src="~/images/up-icon.svg" alt="" width="40" /> </a> </div>
        </div>
        <div class="d-none d-lg-block d-xl-block scroll-position">
            <div class="back-to-top ScrollTop"><a href="#"><img src="~/images/up-icon.svg" alt="" width="40" /></a></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer-logo col-lg-3 "> <a href="index.html"><img src="~/images/footer-logo.png" alt="" /></a> </div>
                <div class=" col-md-3 ">
                    <h3>QUICK LINK </h3>
                    <ul class="footer-link">
                        <li><a href="index"> Home </a></li>

                        <li><a href="#"> Course Offered  </a></li>

                        <li><a href="#"> Skills  </a></li>

                        <li><a href="#"> News  </a></li>

                        <li><a href="contactus"> Contact Us  </a></li>


                    </ul>
                </div>
                <div class=" col-lg-3  address-block">
                    <h3>ADDRESS  </h3>

                    <p class="address">
                        Plot No - 80 , GAutam Nagar 8,
                        Jaipur, Rajasthan
                    </p>

                    <p class="phone-n"> +91 966001376 </p>
                    <p class="email-id"> +91 966001376 </p>



                </div>
                <div class="col-lg-3  text-right">
                    <h3>Contact Us  </h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113874.29338090064!2d75.72051792571312!3d26.885346595389432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1534519165975" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>


                </div>
            </div>
            <div class="row">
                <div class="copyright col-sm-6 ">
                    <div class="footer-bottom-menu">&copy;Copyright 2018 All Rights Reserved AKV Classes   </div>
                </div>
                <div class=" col-sm-6  text-right">
                    <ul class="social footer-social">
                        <li> <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a></li>
                        <li> <a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    </ul>


                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow/wow.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/mCustomScrollbar.concat.min.js"></script>


    <script src="js/jquery.reject.min.js"></script>

    <script src="js/support.js"></script>
    <script>
        $(document).ready(function () {
            wow = new WOW(
                  {
                      boxClass: 'wow',      // default
                      animateClass: 'animated', // default
                      offset: 0,          // default
                      mobile: true,       // default
                      live: true        // default
                  }
                )
            wow.init();


        });
    </script>
</body>
</html>