﻿@model List<DAL.vwCourseSubjectBinding>

    @{
        ViewBag.Title = "CourseSubject";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Course Subject Master</h6>
        <p class="mg-b-20 mg-sm-b-30">Course Subject Master Detail</p>
        <div>

            <div class="table-wrapper">
                @using (Html.BeginForm())
                {

                    var data = (DAL.Course)ViewData["Data"];
                    <div class="row row-xs mg-t-20">
                        <div class="col-sm-4 form-control-label">
                            Course Name
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @data.CourseName
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        </div>
                    </div>
                    <div class="row row-xs mg-t-20">
                        <div class="col-sm-4 form-control-label">
                            Course Type
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                            @data.CourseType.Name
                        </div>
                        <div class="col-sm-4 mg-t-10 mg-sm-t-0">

                        </div>
                    </div>
                    <div class="row row-xs mg-t-20">
                        <div class="col-sm-6 form-control-label">
                            <table id="datatable1" class="table display responsive nowrap">
                                <thead>
                                    <tr>
                                        <th class="wd-60p">Subject</th>
                                        <th class="wd-20p">Checked</th>
                                        <th class="wd-20p"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (var i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(it => it[i].CourseId)
                                                @Html.HiddenFor(it => it[i].SubjectId)
                                                @Html.DisplayFor(it => it[i].Name)
                                            </td>
                                            <td>
                                                @Html.CheckBoxFor(it => it[i].Checked, new { Style = "vertical-align:3px}" })
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6 mg-t-10 mg-sm-t-0">

                        </div>
                    </div>
                    <button class="btn btn-default mg-r-5">Submit</button>
                    <a href="/Course/Index" class="btn btn-default mg-r-5">Back</a>
                   }</div><!-- table-wrapper -->
        </div><!-- card -->
