﻿@model IEnumerable<DAL.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Course Master</h6>
    <p class="mg-b-20 mg-sm-b-30">Course Master List</p>
    <div>
        <a href="Create" class="btn btn-default mg-r-5">Create</a>
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>

                        <th class="wd-20p">@Html.DisplayNameFor(model => model.CourseName)</th>
                        <th class="wd-20p">Course Type</th>
                        <th class="wd-10p">@Html.DisplayNameFor(model => model.CourseTimeinMonth)</th>
                        <th class="wd-10p">@Html.DisplayNameFor(model => model.CoursePriceAmount)</th>
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Created)</th>
                        <th class="wd-20p">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseTimeinMonth)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CoursePriceAmount)

                            </td>
                            <td>@item.Created.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) | 
                                @Html.ActionLink("Bind Subject", "CourseSubject", new { id = item.CourseId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
</div><!-- card -->
