﻿@model FNSWeb.Models.ForgotViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>

    <!-- vendor css -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Content/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    @*<link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">*@
    <link href="~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    @*<link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">*@
    <!-- Katniss CSS -->
    <link href="~/Content/katniss.css" rel="stylesheet" />
</head>
<body>
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="signbox-header">
                <h4>AKV Classes</h4>
                
            </div><!-- signbox-header -->
            <div class="signbox-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Forgot Password</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div><!-- signbox-body -->
    </div><!-- signbox -->
    <div>
        @Html.ActionLink("Back to List", "Login")
    </div>

    <script src="~/Content/lib/jquery/jquery.js"></script>
    @*<script src="../lib/jquery/jquery.js"></script>*@
    <script src="~/Content/lib/popper.js/popper.js"></script>
    @*<script src="../lib/popper.js/popper.js"></script>*@
    <script src="~/Content/lib/bootstrap/bootstrap.js"></script>
</body>
</html>
