﻿@model FNSWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Login</title>
    <!-- vendor css -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Content/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    @*<link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">*@
    <link href="~/Content/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    @*<link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">*@
    <!-- Katniss CSS -->
    <link href="~/Content/katniss.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../css/katniss.css">*@
</head>
<body>
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="signbox-header">
                <h4>AKV Classes</h4>
                <p class="mg-b-0"></p>
            </div><!-- signbox-header -->
            <div class="signbox-body">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-control-label" })

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-control-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="display:none;">
                        
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "form-control-label" })

                        <div class="checkbox">
                            @Html.EditorFor(model => model.RememberMe)
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>




                }

                <div class="tx-center bd pd-10 mg-t-40" style="display:none;">Not yet a member? <a href="page-signup.html">Create an account</a></div>
            </div><!-- form-group -->
            </div><!-- signbox-body -->
        </div><!-- signbox -->
    
    <script src="~/Content/lib/jquery/jquery.js"></script>
    @*<script src="../lib/jquery/jquery.js"></script>*@
    <script src="~/Content/lib/popper.js/popper.js"></script>
    @*<script src="../lib/popper.js/popper.js"></script>*@
    <script src="~/Content/lib/bootstrap/bootstrap.js"></script>
    @*<script src="../lib/bootstrap/bootstrap.js"></script>*@
</body>

</html>
