﻿@model IEnumerable<DAL.CourseType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Course Type Master</h6>
    <p class="mg-b-20 mg-sm-b-30">Course Type Master Details</p>
    <div>
        <a href="Create" class="btn btn-default mg-r-5">Create</a>
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Name)</th>
                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Description)</th>

                        <th class="wd-20p">@Html.DisplayNameFor(model => model.Created)</th>
                        <th class="wd-20p">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>@item.Created.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
    </div>
</div><!-- card -->

