
@font-face {
  font-family: 'MAC';
  src: url('MAC.eot?#iefix') format('embedded-opentype'),  url('MAC.otf')  format('opentype'),
	     url('MAC.woff') format('woff'), url('MAC.ttf')  format('truetype'), url('MAC.svg#MAC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MAC-Light';
  src: url('MAC-Light.eot?#iefix') format('embedded-opentype'),  url('MAC-Light.woff') format('woff'), url('MAC-Light.ttf')  format('truetype'), url('MAC-Light.svg#MAC-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MAC-Bold';
  src: url('MAC-Bold.eot?#iefix') format('embedded-opentype'),  url('MAC-Bold.otf')  format('opentype'),
	     url('MAC-Bold.woff') format('woff'), url('MAC-Bold.ttf')  format('truetype'), url('MAC-Bold.svg#MAC-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

