﻿@model FNSWeb.Models.NotificationTypeViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row row-sm mg-t-20">
    <div class="col-xl-12 mg-t-25 mg-xl-t-0">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-5">
            <h6 class="card-body-title">Notification Type Master</h6>
            <p class="mg-b-30">Create Notification Type Master.</p>
            @using (Html.BeginForm("Create", "NotificationType", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row row-xs mg-t-20">
                    <div class="col-sm-4 form-control-label">
                        @Html.LabelFor(model => model.Title, new { @class = "form-control-label" })<span class="tx-danger">*</span>
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.EditorFor(model => model.Title, new { @class = "form-control text-box", placeholder = "Enter Notification Type" })
                    </div>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
               

                <div class="row row-xs mg-t-30">
                    <div class="col-sm-8 mg-l-auto">
                        <div class="form-layout-footer">
                            <button class="btn btn-default mg-r-5">Submit </button>
                            <a href="/NotificationType/Index" class="btn btn-secondary">Cancel</a>
                        </div><!-- form-layout-footer -->
                    </div><!-- col-8 -->
                </div>
            }
        </div><!-- card -->
    </div><!-- col-6 -->
</div><!-- row -->
